Repository Azure/sap-hana, pull requests merged in 2019-11, with the labels that each got.

#251 Extend v2 pipeline to test different OS versions
  azure-pipelines-v2.yaml
  templates/README.MD
  templates/job-template-per-os.yaml
  templates/tempGen/template.json
  templates/terraform-deployment-steps.yaml
  templates/test-case-template-update.yaml
Labels: Test

#250 V2: Ansible - OS and Disk configurations
  azure-pipelines-v2.yaml
  deploy/v2/ansible/roles/os-disk-setup/tasks/main.yml
  deploy/v2/ansible/roles/os-preparation/tasks/RedHat/RHEL-7/os_config.yml
  deploy/v2/ansible/roles/os-preparation/tasks/Suse/SLES-12/os_config.yml
  deploy/v2/ansible/roles/os-preparation/tasks/common/os_config.yml
  deploy/v2/ansible/roles/os-preparation/tasks/main.yml
  deploy/v2/ansible/sap_playbook.yml
  deploy/v2/ansible/vars/packages.yml
  templates/ansible-deployment-steps.yaml
Labels: Ansible

#257 Remove workaround to use sap-playbook.yml
  templates/ansible-deployment-steps.yaml
Labels: Test

#252 v2:Added resource block to create Azure file share
  deploy/v2/input.json
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/common_infrastructure/main.tf
  deploy/v2/terraform/modules/output_files/main.tf
  templates/tempGen/template.json
Labels: Terraform

#258 Checkout current branch on jumpbox for complete testing
  templates/ansible-deployment-steps.yaml
  templates/tempGen/template.json
Labels: Test

#259 Use System.PullRequest.SourceBranch to fetch branch info
  templates/ansible-deployment-steps.yaml
Labels: Test

#261 Add option to execute Ansible playbook from Terraform
  deploy/v2/input.json
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/hdb_node/outputs.tf
  deploy/v2/terraform/modules/jumpbox/outputs.tf
  deploy/v2/terraform/modules/jumpbox/variables.tf
  deploy/v2/terraform/variables.tf
  templates/tempGen/template.json
Labels: Terraform

#262 Cleanup input JSON
  deploy/v2/input.json
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/jumpbox/main.tf
  deploy/v2/terraform/modules/output_files/variables.tf
  templates/tempGen/template.json
Labels: Terraform

#266 [HOTFIX] Pin to larger release for Ansible installation
  deploy/v2/terraform/modules/jumpbox/main.tf
Labels: HOTFIX, bug

#267 v2: Updated hosts and input JSON file
  deploy/v2/components.json
  deploy/v2/input.json
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/modules/output_files/ansible_inventory.tmpl
  deploy/v2/terraform/modules/output_files/main.tf
  deploy/v2/terraform/modules/output_files/variables.tf
  templates/tempGen/template.json
Labels: Terraform
