Repository Azure/sap-hana, pull requests merged in 2020-05, with the labels that each got.

#456 Add TF code to create iSCSI target devices
  deploy/v2/template_samples/clustered_hana_with_sbd.json
  deploy/v2/terraform/module.tf
  deploy/v2/terraform/modules/common_infrastructure/iscsi.tf
  deploy/v2/terraform/modules/common_infrastructure/outputs.tf
  deploy/v2/terraform/modules/common_infrastructure/variables_local.tf
  deploy/v2/terraform/modules/output_files/ansible_inventory.tmpl
  deploy/v2/terraform/modules/output_files/inventory.tf
  deploy/v2/terraform/modules/output_files/variables_local.tf
Labels: Terraform

#465 [CAYL] Improve stability of v2 azure pipeline
  deploy/v2/terraform/ansible.tf
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
Labels: Test, enhancement

#459 Backlog: Copy XSA Key Files
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_single_ssfs_key.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_ssfs_keys.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_runtime_path_facts.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
Labels: Ansible, enhancement

#463 Add option for RHEL OS clustering
  deploy/v2/USAGE.md
  deploy/v2/ansible/roles/hana-os-clustering/defaults/main.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/cluster-RedHat.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/cluster-Suse.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/main.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/post_provision_report.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/provision.yml
  deploy/v2/ansible/roles/hana-os-clustering/templates/corosync.conf.j2
  deploy/v2/ansible/roles/hana-os-clustering/vars/main.yml
  deploy/v2/ansible/sap_playbook.yml
  deploy/v2/ansible/vars/ha-packages.yml
  deploy/v2/input.json
  deploy/v2/template_samples/clustered_hana.json
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/modules/hdb_node/variables_local.tf
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
  templates/tempGen/v2-allNew-HA.json
  util/set_ha_cluster_password.sh
Labels: Ansible, Documentation, Terraform, enhancement

#473 Remove db_tenant_password
  deploy/v2/ansible/roles/components-install/tasks/shine.yml
  deploy/v2/ansible/roles/components-install/templates/xsa_passwords.j2
  deploy/v2/input.json
  deploy/v2/template_samples/clustered_hana.json
  deploy/v2/template_samples/clustered_hana_with_sbd.json
  deploy/v2/template_samples/single_node_hana.json
  documentation/json-adjusting-template.md
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Ansible, bug

#477 Ignore Terraform generated files
  .gitignore
Labels: enhancement

#469 Backlog: Copy XSA Key Files
  deploy/v2/ansible/ansible.cfg
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_single_ssfs_key.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_ssfs_keys.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/create_hana_backup.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_runtime_path_facts.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
Labels: Ansible, enhancement

#475 Add iscsi device creation to azure pipeline test
  templates/tempGen/v2-allNew-HA.json
Labels: Test, enhancement

#482 Add support to append missing commandline parameters.
  tools/enable-kdump.sh
Labels: BMTools

#485 Staging: Centiq simplify path retrieval
  deploy/v2/ansible/roles/hana-system-replication/tasks/post_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_runtime_path_facts.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
  deploy/v2/ansible/sap_playbook.yml
Labels: Ansible, enhancement

#493 Enable floating IP for LB
  deploy/v2/terraform/modules/hdb_node/vm-hdb.tf
Labels: Terraform, bug

#480 Ansible OS cluster testing
  deploy/v2/USAGE.md
  deploy/v2/ansible/roles/test-failover/files/net_breaker.sh
  deploy/v2/ansible/roles/test-failover/tasks/1_check_cluster_available.yml
  deploy/v2/ansible/roles/test-failover/tasks/2_gather_cluster_facts.yml
  deploy/v2/ansible/roles/test-failover/tasks/3_trigger_failover.yml
  deploy/v2/ansible/roles/test-failover/tasks/4_wait_for_failover.yml
  deploy/v2/ansible/roles/test-failover/tasks/5_recover_from_test.yml
  deploy/v2/ansible/roles/test-failover/tasks/main.yml
  deploy/v2/ansible/roles/test-failover/tasks/pre_checks.yml
  deploy/v2/ansible/roles/test-failover/vars/main.yml
  deploy/v2/ansible/test_failover.yml
  util/test_cluster.sh
Labels: Ansible

#486 Simplify HANA path retrieval
  deploy/v2/ansible/roles/hana-system-replication/tasks/post_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_runtime_path_facts.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
  deploy/v2/ansible/sap_playbook.yml
Labels: Ansible, enhancement

#483 Add db_mode to HANA installation
  deploy/v2/ansible/roles/components-install/tasks/hana_database.yml
  deploy/v2/ansible/roles/components-install/templates/hdbserver_hana1.j2
  deploy/v2/template_samples/single_node_hana_single_container.json
  documentation/json-adjusting-template.md
Labels: Ansible, Documentation

#484 Add inventory validation to playbook
  deploy/v2/ansible/roles/components-install/tasks/hana_database.yml
  deploy/v2/ansible/roles/hdb-server-install/tasks/hana_server_installation.yml
  deploy/v2/ansible/roles/hdb-server-install/tasks/hdb_pre_checks.yml
  deploy/v2/ansible/roles/hdb-server-install/tasks/main.yml
  deploy/v2/ansible/roles/hdb-server-install/vars/main.yml
  deploy/v2/ansible/roles/inventory-validation/tasks/hostname_validation.yml
  deploy/v2/ansible/roles/inventory-validation/tasks/main.yml
  deploy/v2/ansible/roles/inventory-validation/tasks/repo_validation.yml
  deploy/v2/ansible/roles/inventory-validation/vars/main.yml
  deploy/v2/ansible/sap_playbook.yml
Labels: Ansible, bug, enhancement

#496 HSR for HANA 1.0
  deploy/v2/ansible/roles/hana-system-replication/defaults/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/create_hana_backup.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/post_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
Labels: Ansible, enhancement

#497 Pin TF provider versions
  deploy/v2/terraform/module.tf
  deploy/v2/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/v2/terraform/providers.tf
Labels: Terraform, bug, enhancement

#498 Adjust IP range for load balancer
  deploy/v2/terraform/modules/hdb_node/vm-hdb.tf
  templates/tempGen/v2-allNew-HA.json
Labels: Terraform, bug

#499 Change ansible file location to TF workspace
  deploy/v2/terraform/ansible.tf
  deploy/v2/terraform/modules/jumpbox/vm-rti.tf
  deploy/v2/terraform/modules/output_files/inventory.tf
  deploy/v2/terraform/variables_local.tf
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
Labels: Terraform, bug, enhancement
