Repository Azure/sap-hana, pull requests merged in 2020-06, with the labels that each got.

#514 Staging PR: "Hardwired" Application Tier Terraform (#48)
  deploy/input.json
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/rti_only.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_single_container.json
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/README.md
  deploy/terraform/modules/app_tier/app-vm.tf
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/outputs.tf
  deploy/terraform/modules/app_tier/scs-vm.tf
  deploy/terraform/modules/app_tier/variables_global.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/modules/common_infrastructure/outputs.tf
  templates/tempGen/sap-reuseVNET-SN.json
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: enhancement

#519 [HOTFIX] Skip prometheus if error
  deploy/ansible/roles/enable-prometheus/tasks/main.yml
Labels: Ansible, HOTFIX

#508 Adjust IP space for iSCSI
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/terraform/modules/common_infrastructure/iscsi.tf
  deploy/terraform/modules/common_infrastructure/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
  templates/tempGen/sap-allNew-HA.json
Labels: Terraform

#511 Add sample for using existing subnet
  deploy/template_samples/clustered_hana_with_sbd_in_existing_subnet.json
  deploy/terraform/modules/jumpbox/variables_local.tf
  deploy/terraform/modules/jumpbox/vm-rti.tf
Labels: Terraform, enhancement

#526 Add runner json on github repo
  deploy/template_samples/saplandscaperunner.json
Labels: Terraform, Test

#527 Add ppg to pipeline
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Test

#524 Remove adding parameters for VLI
  tools/enable-kdump.sh
Labels: BMTools

#530 Staging PR: Move subnets and NSG to appropriate modules
  deploy/input.json
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/rti_only.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_single_container.json
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/README.md
  deploy/terraform/modules/app_tier/app-vm.tf
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/outputs.tf
  deploy/terraform/modules/app_tier/scs-vm.tf
  deploy/terraform/modules/app_tier/variables_global.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/modules/common_infrastructure/outputs.tf
  deploy/terraform/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/modules/hdb_node/infrastructure.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
  templates/tempGen/sap-reuseVNET-SN.json
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Terraform, enhancement

#520 PPG support
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/rti_only.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_single_container.json
  deploy/terraform/module.tf
  deploy/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/modules/common_infrastructure/outputs.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
Labels: enhancement

#536 Fix the format of json of cluster_hana_sbd template
  deploy/template_samples/clustered_hana_with_sbd.json
Labels: enhancement

#532 move readme under sap-hana
  README.MD
Labels: Documentation

#531 Move subnets and NSG to appropriate modules
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/app-vm.tf
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/scs-vm.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/modules/common_infrastructure/outputs.tf
  deploy/terraform/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/modules/hdb_node/infrastructure.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
  util/terraform_v2.sh
Labels: Terraform, enhancement

#543 Mitigate NRMS's impact to daily test pipeline
  templates/ansible-deployment-steps-daily.yaml
Labels: Test, enhancement

#540 Enhance to deploy without databases
  deploy/template_samples/rti_only.json
  deploy/terraform/variables_global.tf
Labels: Terraform, enhancement

#538 Initial Application Tier parameters
  deploy/input.json
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/clustered_hana_with_sbd_in_existing_subnet.json
  deploy/template_samples/rti_only.json
  deploy/template_samples/saplandscaperunner.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_single_container.json
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/app-vm.tf
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/scs-vm.tf
  deploy/terraform/modules/app_tier/variables_global.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/common_infrastructure/variables_global.tf
  deploy/terraform/modules/hdb_node/variables_global.tf
  deploy/terraform/modules/jumpbox/variables_global.tf
  deploy/terraform/modules/output_files/variables_global.tf
  deploy/terraform/variables_global.tf
  documentation/json-adjusting-template.md
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Terraform, enhancement

#544 Enhance the performance of Ansible stage
  deploy/ansible/roles/hana-os-clustering/tasks/cluster-Suse.yml
  deploy/ansible/roles/sap-media-download/tasks/main.yml
Labels: enhancement

#549 IPs calculated from subnet and offet, additional Application Parameters
  deploy/input.json
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/clustered_hana_with_sbd_in_existing_subnet.json
  deploy/template_samples/rti_only.json
  deploy/template_samples/saplandscaperunner.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_single_container.json
  deploy/terraform/modules/app_tier/app-vm.tf
  deploy/terraform/modules/app_tier/scs-vm.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  documentation/json-adjusting-template.md
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Terraform, enhancement

#550 Staging: Application input configuration for VM size and accelerated networking and OS helper script update
  deploy/USAGE.md
  deploy/input.json
  deploy/terraform/modules/app_tier/app-vm.tf
  deploy/terraform/modules/app_tier/scs-vm.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  documentation/json-adjusting-template.md
  util/set_sap_os.sh
Labels: Terraform, enhancement

#551 Application input configuration for VM size and accelerated networking and OS helper script update
  deploy/USAGE.md
  deploy/input.json
  deploy/terraform/modules/app_tier/app-vm.tf
  deploy/terraform/modules/app_tier/scs-vm.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  documentation/json-adjusting-template.md
  util/set_sap_os.sh
Labels: Terraform, enhancement

#553 Hotfix: SCS LB IPs in HA mode, closes 552
  deploy/terraform/modules/app_tier/scs-vm.tf
Labels: HOTFIX, Terraform, bug

#554 Staging PR: Enable/Disable HDB module
  deploy/terraform/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/modules/hdb_node/infrastructure.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
Labels: Terraform, enhancement

#528 Update kernel.sysrq value
  tools/enable-kdump.sh
Labels: BMTools

#529 Add support to add numa=off setting in kdump commandline
  tools/enable-kdump.sh
Labels: BMTools

#555 Enable/Disable HDB module
  deploy/terraform/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/modules/hdb_node/infrastructure.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
Labels: Terraform, enhancement

#557 Replace with_x with loop
  deploy/ansible/roles/components-install/tasks/hana_database.yml
  deploy/ansible/roles/hana-system-replication/tasks/set_global_ini_values.yml
  deploy/ansible/roles/os-disk-setup/tasks/lvm_mount.yml
  deploy/ansible/roles/os-preparation/tasks/RedHat/RHEL-7/os_config.yml
  deploy/ansible/roles/os-preparation/tasks/Suse/SLES-12/os_config.yml
  deploy/ansible/roles/os-preparation/tasks/common/os_config.yml
Labels: Ansible, enhancement

#559 Staging: Application inventory
  deploy/ansible/sap_playbook.yml
  deploy/terraform/ansible.tf
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/outputs.tf
  deploy/terraform/modules/hdb_node/outputs.tf
  deploy/terraform/modules/output_files/ansible_inventory.tmpl
  deploy/terraform/modules/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/modules/output_files/inventory.tf
  deploy/terraform/modules/output_files/outputs.tf
  deploy/terraform/modules/output_files/variables_local.tf
Labels: Terraform

#547 Optimize Ansible: Make packages installation fail fast
  deploy/ansible/sap_playbook.yml
Labels: enhancement

#561 Create NSG with the RG in JSON
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/hdb_node/infrastructure.tf
Labels: Terraform, bug

#563 Adjust dependency for null resource
  deploy/terraform/ansible.tf
Labels: Terraform, bug

#568 Fix the wrong rg location assignment when existing rg is used
  deploy/terraform/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/modules/common_infrastructure/iscsi.tf
Labels: Terraform, bug

#560 Terraform: Add Application VMs to generated Ansible inventory
  deploy/ansible/sap_playbook.yml
  deploy/terraform/ansible.tf
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/outputs.tf
  deploy/terraform/modules/hdb_node/outputs.tf
  deploy/terraform/modules/output_files/ansible_inventory.tmpl
  deploy/terraform/modules/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/modules/output_files/inventory.tf
  deploy/terraform/modules/output_files/outputs.tf
  deploy/terraform/modules/output_files/variables_local.tf
  deploy/terraform/variables_local.tf
  documentation/ansible/running-ansible-playbook.md
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
Labels: Documentation, Terraform, enhancement

#570 Set secondary site with readaccess
  deploy/ansible/roles/hana-system-replication/tasks/pre_checks.yml
Labels: Ansible, bug

#572 Application tier redress
  deploy/input.json
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/nsg-app-subnet.tf
  deploy/terraform/modules/app_tier/outputs.tf
  deploy/terraform/modules/app_tier/scs-vm.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
  documentation/json-adjusting-template.md
Labels: Terraform, enhancement

#577 [HOTFIX] Fix code when platform type NONE
  deploy/terraform/modules/output_files/inventory.tf
  deploy/terraform/modules/output_files/variables_local.tf
Labels: Terraform, bug

#576 Add webdispatcher module
  deploy/input.json
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/clustered_hana_with_sbd_in_existing_subnet.json
  deploy/template_samples/rti_only.json
  deploy/template_samples/saplandscaperunner.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_single_container.json
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/nsg-webdisp.tf
  deploy/terraform/modules/app_tier/outputs.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
  deploy/terraform/modules/output_files/ansible_inventory.tmpl
  deploy/terraform/modules/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/modules/output_files/inventory.tf
  deploy/terraform/modules/output_files/variables_local.tf
Labels: Terraform

#569 Support hana-os-clustering in Large Instance
  deploy/ansible/roles/hana-os-clustering/tasks/cluster-Suse-large-instance.yml
  deploy/ansible/roles/hana-os-clustering/tasks/pre_checks.yml
  deploy/ansible/roles/hana-os-clustering/tasks/provision.yml
  deploy/ansible/roles/sap-media-transfer/tasks/main.yml
  deploy/ansible/sap_playbook.yml
Labels: Ansible

#582 Staging: Add VM sizing json file for applications
  deploy/app_sizes.json
  deploy/input.json
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/clustered_hana_with_sbd_in_existing_subnet.json
  deploy/template_samples/rti_only.json
  deploy/template_samples/saplandscaperunner.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_single_container.json
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
  documentation/json-adjusting-template.md
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Terraform

#584 Stating: Utility script updates
  deploy/USAGE.md
  deploy/terraform/ansible.tf
  util/check_subscription.sh
  util/check_workstation.sh
  util/common_utils.sh
  util/create_fencing_agent.sh
  util/create_service_principal.sh
  util/set_ha_cluster_password.sh
  util/set_resource_group.sh
  util/set_sap_download_credentials.sh
  util/set_sap_os.sh
  util/terraform_v2.sh
Labels: enhancement

#587 Staging: Allow multiple data disks for SCS and App VMs
  deploy/app_sizes.json
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
Labels: Terraform, enhancement

#588 Allow multiple data disks for SCS and App VMs
  deploy/app_sizes.json
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
Labels: Terraform, enhancement

#583 Add VM sizing json file for applications
  deploy/app_sizes.json
  deploy/input.json
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/clustered_hana_with_sbd_in_existing_subnet.json
  deploy/template_samples/rti_only.json
  deploy/template_samples/saplandscaperunner.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_single_container.json
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
  documentation/json-adjusting-template.md
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Terraform, enhancement

#589 [HOTFIX] Add data disk to webdispatcher
  deploy/terraform/modules/app_tier/vm-scs.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
Labels: HOTFIX, Terraform, bug

#592 Add defaults to app tier
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
Labels: Terraform, enhancement

#579 Enable deployment of App tier in test pipeline
  azure-pipelines.yaml
  templates/job-template-allReuseCases.yaml
  templates/tempGen/sap-allNew-APP-HA.json
  templates/tempGen/sap-allNew-APP-SN.json
  templates/tempGen/sap-allNew-HA.json
  templates/tempGen/template-daily.json
Labels: Test

#593 Default value of app scs web sizing
  deploy/terraform/modules/app_tier/variables_local.tf
Labels: Terraform

#594 Set default values for HDB module
  deploy/terraform/module.tf
  deploy/terraform/modules/common_infrastructure/variables_local.tf
  deploy/terraform/modules/hdb_node/outputs.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
  deploy/terraform/modules/jumpbox/variables_local.tf
  deploy/terraform/modules/output_files/inventory.tf
  deploy/terraform/modules/output_files/variables_local.tf
  deploy/terraform/variables_local.tf
Labels: Terraform, enhancement

#596 Always have 2 feip on the SCS load balancer
  deploy/terraform/modules/app_tier/infrastructure.tf
Labels: Terraform, bug

#585 Utility script updates
  deploy/USAGE.md
  deploy/terraform/ansible.tf
  templates/terraform-deployment-steps-daily.yaml
  templates/terraform-deployment-steps.yaml
  util/check_subscription.sh
  util/check_workstation.sh
  util/common_utils.sh
  util/create_fencing_agent.sh
  util/create_service_principal.sh
  util/set_ha_cluster_password.sh
  util/set_resource_group.sh
  util/set_sap_download_credentials.sh
  util/set_sap_os.sh
  util/source_path.sh
  util/terraform_v2.sh
Labels: Documentation, Terraform, enhancement

#602 [BUG] Fix issue with NSG trying to update when reuse NSG for app subnet
  deploy/terraform/modules/app_tier/nsg-webdisp.tf
Labels: Terraform, bug

#601 Refactor HSR and OS Clustering roles to be less directly dependant on output.json
  deploy/ansible/roles/hana-os-clustering/tasks/cluster-RedHat.yml
  deploy/ansible/roles/hana-os-clustering/tasks/cluster-Suse-large-instance.yml
  deploy/ansible/roles/hana-os-clustering/tasks/cluster-Suse.yml
  deploy/ansible/roles/hana-os-clustering/tasks/pre_checks.yml
  deploy/ansible/roles/hana-os-clustering/tasks/provision.yml
  deploy/ansible/roles/hana-os-clustering/tasks/sbd_device_setup.yml
  deploy/ansible/roles/hana-os-clustering/templates/corosync.conf.j2
  deploy/ansible/roles/hana-os-clustering/vars/main.yml
  deploy/ansible/roles/hana-system-replication/tasks/copy_single_ssfs_key.yml
  deploy/ansible/roles/hana-system-replication/tasks/copy_ssfs_keys.yml
  deploy/ansible/roles/hana-system-replication/tasks/create_hana_backup.yml
  deploy/ansible/roles/hana-system-replication/tasks/post_checks.yml
  deploy/ansible/roles/hana-system-replication/tasks/pre_checks.yml
  deploy/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
  deploy/ansible/roles/hana-system-replication/tasks/set_runtime_path_facts.yml
  deploy/ansible/roles/hana-system-replication/tasks/set_trust_relationship.yml
  deploy/ansible/sap_playbook.yml
Labels: Ansible, enhancement

#599 Documentation Update for deployed resources
  README.MD
  deploy/terraform/HANA.md
  deploy/terraform/SAPLandscape.md
Labels: Documentation

#604 Allow user to supply IP addresses for Application tier VMs/Load Balancers when using an existing subnet
  deploy/input.json
  deploy/template_samples/application_with_ha_in_existing_subnet.json
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
  documentation/json-adjusting-template.md
Labels: Terraform, enhancement
