Repository Azure/sap-hana, pull requests merged in 2020-10, with the labels that each got.

#751 Updating sap_library to use naming module
  .pipeline/templates/saplib/validate-saplib-steps.yml
  deploy/terraform/bootstrap/sap_library/module.tf
  deploy/terraform/run/sap_library/module.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/randomid.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
Labels: enhancement

#757 Updating sap_deployer to use naming module
  deploy/terraform/bootstrap/sap_deployer/module.tf
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/bootstrap/sap_deployer/variables_local.tf
  deploy/terraform/run/sap_deployer/module.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/run/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/randomid.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/vm.tf
Labels: enhancement

#811 [HOTFIX] Remove all possible public IP assignment in pipeline
  .pipeline/templates/deployer/create-deployer-steps.yml
  .pipeline/templates/util/remove-agent-from-deployer-nsg.yml
  .pipeline/tf-deployer-test.yml
  .pipeline/tf-integration-test.yml
  .pipeline/tf-release.yml
  azure-pipelines-cleanup.yaml
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: HOTFIX, Pipeline

#814 [HOTFIX] Cleanup public IP from NSG to be complied with S360
  azure-pipelines-cleanup.yaml
Labels: HOTFIX, Pipeline

#813 Skip check fencing agent when only SBD is used
  deploy/ansible/roles/hana-os-clustering/tasks/pre_checks.yml
Labels: Ansible, bug

#760 Updating sap_system to use naming module (Hana + app tier)
  .pipeline/templates/saplib/validate-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/templates/sapsystem/validate-sapsystem-steps.yml
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/randomid.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_local.tf
Labels: enhancement

#761 Updating sap_system to use naming module (anydb+ app tier)
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
Labels: enhancement

#823 Add Anydb test case to unit test
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/tf-sapsystem-anydb-test.yml
Labels: Pipeline

#816 Default behavior should not pass sshkey pair from local files
  deploy/terraform/bootstrap/sap_deployer/variables_global.tf
  deploy/terraform/run/sap_deployer/variables_global.tf
Labels: Terraform

#819 Add required output to saplib
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/tf-integration-test.yml
  .pipeline/tf-release.yml
  .pipeline/tf-saplib-test.yml
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/bootstrap/sap_library/variables_local.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
Labels: Terraform

#824 Remove secrets from sap_system
  .pipeline/templates/ansible/ansible-playbook-steps.yml
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/sapsystem_w_fence_agent.json
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Pipeline, Terraform

#826 Pass deployer msi info with naming convention
  .pipeline/templates/saplib/create-saplib-steps.yml
  deploy/terraform/bootstrap/sap_library/saplibrary.json
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform

#833 Remove user object_id completely from sap_system
  .pipeline/tf-release.yml
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/output.tf
Labels: Pipeline, Terraform

#832 Correct saplibrary variables when conditional expression is used
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: bug

#834 correct variable type when using conditional expression
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: bug

#830 Add IMDS to working branch for Fe
  deploy/terraform/terraform-units/modules/sap_deployer/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_library/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
Labels: Terraform, enhancement

#836 Comment out users' object_id functionality in saplibrary saplandscape sapsystem
  deploy/terraform/terraform-units/modules/sap_library/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_system.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/output.tf
Labels: Terraform

#839 Fix SQL SERVER casing
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
Labels: HOTFIX, bug

#837 Support HANA 2.00.050 on RHEL 7.6
  deploy/ansible/roles/os-preparation/tasks/RedHat/RHEL-7/os_config.yml
  deploy/template_samples/clustered_hana.json
  deploy/template_samples/clustered_hana_use_custom_image_with_sbd.json
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/template_samples/clustered_hana_with_sbd_in_existing_subnet.json
  deploy/template_samples/saplandscaperunner.json
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_with_custom_image.json
  deploy/template_samples/single_node_hana_with_jumpboxes.json
  deploy/template_samples/single_node_hana_with_xsa.json
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Ansible, bug

#838 Fix release pipeline
  .pipeline/templates/ansible/ansible-playbook-steps.yml
  .pipeline/tf-release.yml
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/run/sap_system/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/imports.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_local.tf
Labels: Pipeline, Terraform

#841 Remove redundant zone under infra
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/sapsystem_zones.json
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
Labels: Terraform

#840 Add daily integration test for all feature branches
  .pipeline/tf-integration-test.yml
Labels: Pipeline

#843 Ultradisk requires zonal deployment
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: HOTFIX, bug

#842 Read scs_count from json file
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
Labels: Terraform, enhancement

#845 Separate computername and resource name in apptier naming module
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/output.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/vm.tf
Labels: Terraform, enhancement

#849 Modify default environment global -> np
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/bootstrap/sap_library/saplibrary.json
  deploy/terraform/run/sap_deployer/deployer.json
  deploy/terraform/run/sap_library/saplibrary.json
  deploy/terraform/run/sap_system/sapsystem.json
Labels: Terraform

#852 Modify the input json of saplibrary.json and the related logic
  deploy/terraform/run/sap_library/imports.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/run/sap_library/saplibrary.json
  deploy/terraform/run/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform

#846 Apply the new naming module in sap_system module
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
Labels: enhancement

#853 add implicit dependency between sa and container
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
Labels: bug

#854 Add spn secrets to deployer KV in pipeline test
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/saplib/delete-saplib-steps.yml
  .pipeline/templates/saplib/post-saplib-steps.yml
  .pipeline/tf-saplib-test.yml
Labels: Pipeline

#848 Add support for specifying different images for the components in the application tier
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
Labels: Terraform, enhancement

#855 support spn to deploy sapsystem
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/templates/sapsystem/delete-sapsystem-steps.yml
  deploy/terraform/run/sap_system/imports.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/providers.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_system.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Terraform

#851 Remove default prefix from deployer
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform

#859 Enforce another NSG update before saplib post steps
  .pipeline/tf-integration-test.yml
  .pipeline/tf-release.yml
Labels: Pipeline

#850 Fix IMDS call for deployer
  deploy/terraform/terraform-units/modules/sap_deployer/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform, bug

#861 Keyvault access policy should use object id of service principal
  deploy/terraform/bootstrap/sap_library/imports.tf
  deploy/terraform/bootstrap/sap_library/module.tf
  deploy/terraform/bootstrap/sap_library/providers.tf
  deploy/terraform/bootstrap/sap_library/variables_local.tf
  deploy/terraform/run/sap_library/imports.tf
  deploy/terraform/run/sap_library/module.tf
  deploy/terraform/run/sap_library/providers.tf
  deploy/terraform/run/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_library/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform, bug

#858 Clean software block and the related logic
  .pipeline/templates/saplandscape/create-saplandscape-steps.yml
  .pipeline/templates/saplandscape/delete-saplandscape-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/run/sap_landscape/saplandscape.json
  deploy/terraform/run/sap_landscape/variables_global.tf
  deploy/terraform/run/sap_system/ansible.tf
  deploy/terraform/run/sap_system/imports.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/providers.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/variables_global.tf
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_system.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform

#857 Add test against run/deployer and run/sap_library in integration test
  .pipeline/templates/deployer/create-deployer-steps.yml
  .pipeline/templates/saplib/post-saplib-steps.yml
Labels: Pipeline

#860 Split the keyvault namefrom a list to individual values
  deploy/terraform/terraform-units/modules/sap_namegenerator/keyvault.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/output.tf
Labels: Terraform, enhancement

#856 Change default mgmt vnet name from MGMT to DEP00
  .pipeline/templates/deployer/create-deployer-steps.yml
  .pipeline/templates/deployer/delete-deployer-steps.yml
  .pipeline/templates/deployer/post-deployer-steps.yml
  .pipeline/templates/deployer/validate-deployer-steps.yml
  .pipeline/templates/saplandscape/create-saplandscape-steps.yml
  .pipeline/templates/saplandscape/delete-saplandscape-steps.yml
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/saplib/delete-saplib-steps.yml
  .pipeline/templates/saplib/post-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/templates/sapsystem/delete-sapsystem-steps.yml
  .pipeline/templates/util/add-agent-to-deployer-nsg.yml
  .pipeline/templates/util/collect-deployer-info.yml
  .pipeline/templates/util/remove-agent-from-deployer-nsg.yml
  .pipeline/tf-integration-test.yml
  .pipeline/tf-release.yml
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/bootstrap/sap_library/saplibrary.json
  deploy/terraform/run/sap_deployer/deployer.json
  deploy/terraform/run/sap_library/saplibrary.json
Labels: Pipeline, Terraform

#862 Change job condition for mark deletion
  .pipeline/tf-integration-test.yml
Labels: Pipeline

#863 Add beta branch to daily integration test
  .pipeline/tf-integration-test.yml
Labels: Pipeline

#868 add tfstate_resource_id as an output
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
Labels: Terraform

#867 move tfstate_source_id to the root level and simplify importing deployer logic
  .pipeline/templates/saplandscape/create-saplandscape-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/run/sap_landscape/saplandscape.json
  deploy/terraform/run/sap_system/imports.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/providers.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/certificates.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform

#869 Hide IMDS response
  deploy/terraform/terraform-units/modules/sap_deployer/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_library/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/IMDS.tf
Labels: Terraform

#870 Hide output from imds call for branches without kv
  deploy/terraform/terraform-units/modules/sap_deployer/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_library/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/IMDS.tf
Labels: Terraform

#871 comment out nsg of web and clean output of common_infrastructure
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/nsg-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-linux.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-win.tf
Labels: Terraform

#872 clean deployer and sap_library under sapsystem, clean deploy/terraform-units
  deploy/terraform-units/Readme.md
  deploy/terraform-units/global/Readme.md
  deploy/terraform-units/global/variables-global.tf
  deploy/terraform-units/modules/Readme.md
  deploy/terraform-units/modules/sap_library/infrastructure.tf
  deploy/terraform-units/modules/sap_library/outputs.tf
  deploy/terraform-units/modules/sap_library/variables-global.tf
  deploy/terraform-units/workspace/Readme.md
  deploy/terraform-units/workspace/SAP_Library/Readme.md
  deploy/terraform-units/workspace/SAP_Library/TFE/Readme.md
  deploy/terraform-units/workspace/SAP_Library/TFE/module.tf
  deploy/terraform-units/workspace/SAP_Library/TFE/outputs.tf
  deploy/terraform-units/workspace/SAP_Library/TFE/providers.tf
  deploy/terraform-units/workspace/SAP_Library/TFE/variables-global.tf
  deploy/terraform-units/workspace/SAP_Library/TFE/variables-local.tf
  deploy/terraform-units/workspace/SAP_Library/TFE/variables.auto.tfvars
  deploy/terraform-units/workspace/SAP_Library/deployment.md
  deploy/terraform/terraform-units/modules/sap_system/deployer/imports.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/imports.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/output.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_local.tf
Labels: Terraform

#865 Add the ability to specify the separator used between the resource prefix and the resource name
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/output.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/resourcegroup.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/vm.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Terraform

#822 Support dual nics
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform, enhancement

#874 remove deployer from output_files module
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform

#876 Add spn logon to ansible steps
  .pipeline/templates/ansible/ansible-playbook-steps.yml
Labels: Pipeline
