Repository Azure/sap-hana, pull requests merged in 2020-04, with the labels that each got.

#373 Ansible role to enable Hana System Replication
  deploy/v2/ansible/roles/hana-system-replication/defaults/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_ssfs_keys.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/create_hana_backup.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/post_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_global_ini_value.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/start_hana.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/stop_hana.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
  deploy/v2/ansible/sap_playbook.yml
Labels: Ansible, enhancement

#390 Staging: Backlog items: Copy global.ini
  deploy/v2/ansible/roles/hana-system-replication/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_global_ini_value.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_global_ini_values.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
Labels: Ansible, enhancement

#396 Staging PR: Add the subscription id and tenant id to the output.json file for use by Ansible
  deploy/v2/terraform/modules/output_files/main.tf
Labels: enhancement

#397 Staging PR: Add Loadbalancer Frontend IP to the output JSON file
  deploy/v2/README.MD
  deploy/v2/input.json
  deploy/v2/template_samples/clustered_hana.json
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/hdb_node/variables_local.tf
  deploy/v2/terraform/modules/output_files/main.tf
  deploy/v2/terraform/modules/output_files/variables_local.tf
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: enhancement

#386 Extend test to run ansible for HA setup
  templates/job-template-allReuseCases.yaml
  templates/job-template-per-os-daily.yaml
  templates/job-template-per-os.yaml
Labels: Test

#400 Set configurable replicationMode and operationMode
  deploy/v2/ansible/roles/hana-system-replication/defaults/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
Labels: Ansible, enhancement

#402 Backlog items: use synchronize
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_ssfs_keys.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_trust_relationship.yml
Labels: Ansible, enhancement

#405 Ensure correct hostnames are set on HANA VMs
  deploy/v2/ansible/roles/hdb-server-install/tasks/hana_server_installation.yml
  deploy/v2/ansible/roles/hdb-server-install/tasks/hdb_pre_checks.yml
  deploy/v2/ansible/roles/hdb-server-install/tasks/main.yml
Labels: Ansible, bug

#391 Backlog items: Copy ini files from primary to secondary
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_global_ini_value.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_global_ini_values.yml
Labels: Ansible

#401 Set configurable replicationMode and operationMode
  deploy/v2/ansible/roles/hana-system-replication/defaults/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
Labels: Ansible, enhancement

#398 Add the subscription id and tenant id to the output.json file for use by Ansible
  deploy/v2/terraform/modules/output_files/main.tf
Labels: Terraform, enhancement

#409 Revert "Change hardcode path to dynamic path"
  deploy/v2/ansible/group_vars/all.yml
  deploy/v2/ansible/roles/components-install/defaults/main.yml
  deploy/v2/ansible/roles/components-install/tasks/hana_client_linux.yml
  deploy/v2/ansible/roles/components-install/tasks/hana_studio_linux.yml
  deploy/v2/ansible/roles/hdb-server-install/vars/main.yml
  deploy/v2/ansible/roles/sap-media-download/tasks/main.yml
  deploy/v2/ansible/sap_playbook.yml
Labels: Ansible, HOTFIX, bug

#399 Add Loadbalancer Frontend IP to the output JSON file
  deploy/v2/README.MD
  deploy/v2/input.json
  deploy/v2/template_samples/clustered_hana.json
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/hdb_node/variables_local.tf
  deploy/v2/terraform/modules/output_files/main.tf
  deploy/v2/terraform/modules/output_files/variables_local.tf
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
Labels: Terraform, enhancement

#417 Staging: perform/check backup on primary node only
  deploy/v2/ansible/roles/hana-system-replication/tasks/create_hana_backup.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
Labels: Ansible, bug

#420 Staging: Azure fencing agent Service Principal management
  .gitignore
  deploy/v2/USAGE.md
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/jumpbox/main.tf
  deploy/v2/terraform/modules/jumpbox/variables_local.tf
  util/create_fencing_agent.sh
  util/fencing_agent_role.json
Labels: Documentation, enhancement

#424 Staging: HANA VM OS Clustering on SLES
  deploy/v2/ansible/roles/hana-os-clustering/defaults/main.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/main.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/provision.yml
  deploy/v2/ansible/roles/hana-os-clustering/templates/corosync.conf.j2
  deploy/v2/ansible/sap_playbook.yml
  deploy/v2/ansible/vars/ha-packages.yml
Labels: Ansible, enhancement

#418 Backlog items: perform/check backup on primary node only
  deploy/v2/ansible/roles/hana-system-replication/tasks/create_hana_backup.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
Labels: Ansible, bug

#421 Azure fencing agent management
  .gitignore
  deploy/v2/USAGE.md
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/jumpbox/main.tf
  deploy/v2/terraform/modules/jumpbox/variables_local.tf
  util/create_fencing_agent.sh
  util/fencing_agent_role.json
Labels: enhancement

#425 HANA VM OS Clustering on SLES
  deploy/v2/ansible/roles/hana-os-clustering/defaults/main.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/main.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-os-clustering/tasks/provision.yml
  deploy/v2/ansible/roles/hana-os-clustering/templates/corosync.conf.j2
  deploy/v2/ansible/sap_playbook.yml
  deploy/v2/ansible/vars/ha-packages.yml
Labels: Ansible, enhancement

#435 Fix bug with HA deployment with v1
  deploy/vm/ansible/ha_pair_playbook.yml
  deploy/vm/ansible/roles/hotfix/tasks/main.yml
  deploy/vm/ansible/roles/ssh-key-distribute/tasks/main.yml
Labels: Ansible, bug

#422 add pre-check of os-disk-setup
  deploy/v2/ansible/roles/os-disk-setup/tasks/installation_path_prechecks.yml
  deploy/v2/ansible/roles/os-disk-setup/tasks/lvm_mount.yml
  deploy/v2/ansible/roles/os-disk-setup/tasks/main.yml
  deploy/v2/ansible/roles/os-preparation/tasks/common/os_config.yml
  deploy/v2/ansible/roles/sap-media-download/tasks/main.yml
Labels: Ansible

#437 [BUG] Setup SP on RTI env for pipeline
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
Labels: Test, bug

#438 Update mount azure file cases to apply to LI scenario
  deploy/v2/ansible/group_vars/all.yml
  deploy/v2/ansible/roles/mount-azure-files/tasks/main.yml
  deploy/v2/ansible/sap_playbook.yml
  deploy/v2/terraform/modules/output_files/ansible_inventory.tmpl
Labels: Ansible, Terraform, enhancement

#443 Revert #398 - Remove subscription/tenant IDs from output.json
  deploy/v2/terraform/modules/output_files/main.tf
Labels: Terraform

#442 Separate rti, linux jumpboxes and win jumpboxes
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/jumpbox/main.tf
  deploy/v2/terraform/modules/jumpbox/outputs.tf
  deploy/v2/terraform/modules/jumpbox/variables_local.tf
  deploy/v2/terraform/modules/jumpbox/vm-jump-linux.tf
  deploy/v2/terraform/modules/jumpbox/vm-jump-win.tf
  deploy/v2/terraform/modules/jumpbox/vm-jump.tf
  deploy/v2/terraform/modules/jumpbox/vm-nsg.tf
  deploy/v2/terraform/modules/jumpbox/vm-rti.tf
  deploy/v2/terraform/modules/output_files/main.tf
  deploy/v2/terraform/modules/output_files/variables_local.tf
Labels: Terraform, enhancement

#431 Add support for crashkernel extended kernel parameter
  tools/README.md
  tools/enable-kdump.sh
Labels: BMTools

#445 Rename and separate tf files into meaningful units
  deploy/v2/terraform/ansible.tf
  deploy/v2/terraform/module.tf
  deploy/v2/terraform/modules/common_infrastructure/admin-nsg.tf
  deploy/v2/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/v2/terraform/modules/hdb_node/hdb-nsg.tf
  deploy/v2/terraform/modules/hdb_node/vm-hdb.tf
  deploy/v2/terraform/modules/output_files/inventory.tf
Labels: Terraform

#446 [BUG] Fix issues with v1 HA pair
  deploy/vm/ansible/ha_pair_playbook.yml
  deploy/vm/ansible/roles/configure-hsr-hana/tasks/main.yml
  deploy/vm/ansible/roles/set-up-hana-pacemaker-resources/tasks/main.yml
Labels: Ansible, bug

#449 Staging: Specify sap os util script
  deploy/v2/USAGE.md
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/modules/common_infrastructure/infrastructure.tf
  util/common_utils.sh
  util/sap_os_offers.json
  util/set_sap_os.sh
Labels: enhancement

#447 [BUG] windows_bastion not passed to common_setup module
  deploy/vm/modules/ha_pair/main.tf
Labels: Terraform, bug

#448 Add support for SLES12-SP2 which doesn't have any default crashkernel parameter.
  tools/enable-kdump.sh
Labels: BMTools

#450 Allow SAP HANA OS to be set with a util script
  deploy/v2/USAGE.md
  deploy/v2/template_samples/single_node_hana.json
  deploy/v2/terraform/modules/common_infrastructure/infrastructure.tf
  util/common_utils.sh
  util/sap_os_offers.json
  util/set_sap_os.sh
Labels: enhancement

#454 Check that sap_user and sap_password have been set before applying Terraform builds
  util/common_utils.sh
  util/terraform_v2.sh
Labels: enhancement

#452 TF: add SAP_LIBRARY; DOC: add documentation, update, restructure
  .gitignore
  deploy/v2/README.MD
  deploy/v2/terraform-units/Readme.md
  deploy/v2/terraform-units/global/Readme.md
  deploy/v2/terraform-units/global/variables-global.tf
  deploy/v2/terraform-units/modules/Readme.md
  deploy/v2/terraform-units/modules/sap_library/infrastructure.tf
  deploy/v2/terraform-units/modules/sap_library/outputs.tf
  deploy/v2/terraform-units/modules/sap_library/variables-global.tf
  deploy/v2/terraform-units/workspace/Readme.md
  deploy/v2/terraform-units/workspace/SAP_Library/Readme.md
  deploy/v2/terraform-units/workspace/SAP_Library/TFE/Readme.md
  deploy/v2/terraform-units/workspace/SAP_Library/TFE/module.tf
  deploy/v2/terraform-units/workspace/SAP_Library/TFE/outputs.tf
  deploy/v2/terraform-units/workspace/SAP_Library/TFE/providers.tf
  deploy/v2/terraform-units/workspace/SAP_Library/TFE/variables-global.tf
  deploy/v2/terraform-units/workspace/SAP_Library/TFE/variables-local.tf
  deploy/v2/terraform-units/workspace/SAP_Library/TFE/variables.auto.tfvars
  deploy/v2/terraform-units/workspace/SAP_Library/deployment.md
  deploy/v2/terraform/HANA.md
  documentation/Readme.md
  documentation/ansible/running-ansible-playbook.md
  documentation/assets/Readme.md
  documentation/assets/TODO.png
  documentation/assets/UnicornSAPBlack256x256.png
  documentation/assets/contact.png
  documentation/getting-started.md
  documentation/json-adjusting-template.md
  documentation/terraform/deleting-the-deployment.md
  documentation/terraform/deployment-environment.md
  documentation/terraform/running-terraform-deployment.md
  templates/tempGen/template.json
Labels: Documentation, Terraform

#458 Staging. Backlog: Copy XSA Key Files
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_ssfs_key_path.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_ssfs_keys.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_runtime_path_facts.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
Labels: Ansible, enhancement
