Repository Azure/sap-hana, pull requests merged in 2020-07, with the labels that each got.

#605 Update CONTRIBUTING.MD
  CONTRIBUTING.md
  documentation/contributing.md
Labels: Documentation, enhancement

#609 Add support-anydb to PR triggers
  azure-pipelines.yaml
Labels: Test

#613 Add test case in pipeline for anydb
  CONTRIBUTING.md
  azure-pipelines.yaml
  templates/job-template-allReuseCases.yaml
  templates/tempGen/sap-allNew-AnyDB-HA.json
  templates/tempGen/sap-allNew-AnyDB-SN.json
  templates/variables.yaml
Labels: Documentation, Pipeline

#603 Modify nsg rules of HDB
  deploy/terraform/modules/hdb_node/hdb-nsg.tf
Labels: Terraform, enhancement

#619 Use targetBranchName to conditionally run anydb testcase
  templates/ansible-deployment-steps.yaml
  templates/job-template-allReuseCases.yaml
  templates/variables.yaml
Labels: Pipeline, enhancement

#620 Support custom image for HANA VM deployment
  deploy/template_samples/clustered_hana_use_custom_image_with_sbd.json
  deploy/template_samples/single_node_hana_with_custom_image.json
  deploy/terraform/modules/common_infrastructure/variables_local.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
Labels: Terraform, enhancement

#624 Create KV for certificate only when windows jumpbox is to be deployed
  deploy/terraform/modules/jumpbox/certificates.tf
  deploy/terraform/modules/jumpbox/vm-jump-win.tf
Labels: Terraform, bug

#598 [CAYL] Add default to infra, software, option
  deploy/terraform/ansible.tf
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/nsg-app-subnet.tf
  deploy/terraform/modules/app_tier/nsg-webdisp.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
  deploy/terraform/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/modules/common_infrastructure/iscsi.tf
  deploy/terraform/modules/common_infrastructure/outputs.tf
  deploy/terraform/modules/common_infrastructure/variables_local.tf
  deploy/terraform/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/modules/hdb_node/infrastructure.tf
  deploy/terraform/modules/hdb_node/outputs.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
  deploy/terraform/modules/jumpbox/variables_local.tf
  deploy/terraform/modules/jumpbox/vm-nsg.tf
  deploy/terraform/modules/jumpbox/vm-rti.tf
  deploy/terraform/modules/output_files/inventory.tf
  deploy/terraform/modules/output_files/variables_local.tf
  deploy/terraform/variables_global.tf
  deploy/terraform/variables_local.tf
Labels: Terraform, enhancement

#626 Limit network peering name to 80 char
  deploy/terraform/modules/common_infrastructure/infrastructure.tf
Labels: Terraform, enhancement

#632 Use application SID in HDB module resources naming convention
  deploy/terraform/modules/hdb_node/outputs.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
Labels: Terraform, bug

#633 Add SID to application templates
  deploy/template_samples/application_with_ha.json
  deploy/template_samples/application_with_ha_in_existing_subnet.json
  deploy/template_samples/application_wo_ha.json
  deploy/template_samples/application_wo_ha_customimage.json
  deploy/template_samples/application_wo_ha_windows.json
Labels: Terraform, enhancement

#627 Support version for iSCSI os image
  deploy/template_samples/clustered_hana_with_sbd.json
  deploy/terraform/modules/common_infrastructure/variables_local.tf
Labels: Terraform, enhancement

#636 Deploy NSG into resource group of the existing vnet
  deploy/terraform/modules/hdb_node/infrastructure.tf
Labels: Terraform

#638 [HOTFIX] Save hostname in output.json
  deploy/terraform/modules/output_files/inventory.tf
Labels: Ansible, HOTFIX, Terraform, bug

#642 Update pipeline template for anydb
  templates/tempGen/sap-allNew-AnyDB-HA.json
  templates/tempGen/sap-allNew-AnyDB-SN.json
Labels: Pipeline

#646 Add support for AnyDB
  deploy/anydb_sizes.json
  deploy/template_samples/ha_oracle.json
  deploy/template_samples/single_node_oracle.json
  deploy/template_samples/single_node_oracle_with_custom_image.json
  deploy/terraform/module.tf
  deploy/terraform/modules/anydb_node/infrastructure.tf
  deploy/terraform/modules/anydb_node/outputs.tf
  deploy/terraform/modules/anydb_node/variables_global.tf
  deploy/terraform/modules/anydb_node/variables_local.tf
  deploy/terraform/modules/anydb_node/vm-anydb.tf
Labels: Terraform

#643 Set created local file permission
  deploy/terraform/modules/output_files/inventory.tf
Labels: Terraform, bug

#649 Restructure the codebase
  deploy/ansible/group_vars/all.yml
  deploy/ansible/sap_playbook.yml
  deploy/configs/app_sizes.json
  deploy/configs/components.json
  deploy/configs/hdb_sizes.json
  deploy/terraform/bootstrap/Readme.md
  deploy/terraform/run/ansible.tf
  deploy/terraform/run/module.tf
  deploy/terraform/run/modules/app_tier/README.md
  deploy/terraform/run/modules/app_tier/infrastructure.tf
  deploy/terraform/run/modules/app_tier/nsg-app-subnet.tf
  deploy/terraform/run/modules/app_tier/nsg-webdisp.tf
  deploy/terraform/run/modules/app_tier/outputs.tf
  deploy/terraform/run/modules/app_tier/variables_global.tf
  deploy/terraform/run/modules/app_tier/variables_local.tf
  deploy/terraform/run/modules/app_tier/vm-app.tf
  deploy/terraform/run/modules/app_tier/vm-scs.tf
  deploy/terraform/run/modules/app_tier/vm-webdisp.tf
  deploy/terraform/run/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/run/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/run/modules/common_infrastructure/iscsi.tf
  deploy/terraform/run/modules/common_infrastructure/outputs.tf
  deploy/terraform/run/modules/common_infrastructure/variables_global.tf
  deploy/terraform/run/modules/common_infrastructure/variables_local.tf
  deploy/terraform/run/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/run/modules/hdb_node/infrastructure.tf
  deploy/terraform/run/modules/hdb_node/outputs.tf
  deploy/terraform/run/modules/hdb_node/variables_global.tf
  deploy/terraform/run/modules/hdb_node/variables_local.tf
  deploy/terraform/run/modules/hdb_node/vm-hdb.tf
  deploy/terraform/run/modules/jumpbox/certificates.tf
  deploy/terraform/run/modules/jumpbox/outputs.tf
  deploy/terraform/run/modules/jumpbox/variables_global.tf
  deploy/terraform/run/modules/jumpbox/variables_local.tf
  deploy/terraform/run/modules/jumpbox/vm-jump-linux.tf
  deploy/terraform/run/modules/jumpbox/vm-jump-win.tf
  deploy/terraform/run/modules/jumpbox/vm-nsg.tf
  deploy/terraform/run/modules/jumpbox/vm-rti.tf
  deploy/terraform/run/modules/jumpbox/winrm_files/FirstLogonCommands.xml
  deploy/terraform/run/modules/jumpbox/winrm_files/winrm.ps1
  deploy/terraform/run/modules/output_files/ansible_inventory.tmpl
  deploy/terraform/run/modules/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/run/modules/output_files/inventory.tf
  deploy/terraform/run/modules/output_files/outputs.tf
  deploy/terraform/run/modules/output_files/variables_global.tf
  deploy/terraform/run/modules/output_files/variables_local.tf
  deploy/terraform/run/output.tf
  deploy/terraform/run/providers.tf
  deploy/terraform/run/variables_global.tf
  deploy/terraform/run/variables_local.tf
  deploy/terraform/terraform-units/global/Readme.md
  deploy/terraform/terraform-units/modules/deploy_platform/Readme.md
  deploy/terraform/terraform-units/modules/sap_library/Readme.md
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
  templates/terraform-deployment-steps-daily.yaml
  templates/terraform-deployment-steps.yaml
  util/terraform_v2.sh
Labels: Ansible, Terraform, remotestate

#653 [HOTFIX] fix open ports in pipeline
  templates/tempGen/template-daily.json
  templates/tempGen/template.json
  templates/terraform-deployment-steps-daily.yaml
  templates/terraform-deployment-steps.yaml
Labels: HOTFIX, Pipeline

#656 Revert "Restructure the codebase"
  deploy/ansible/group_vars/all.yml
  deploy/ansible/sap_playbook.yml
  deploy/app_sizes.json
  deploy/components.json
  deploy/hdb_sizes.json
  deploy/terraform/ansible.tf
  deploy/terraform/module.tf
  deploy/terraform/modules/app_tier/README.md
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/nsg-app-subnet.tf
  deploy/terraform/modules/app_tier/nsg-webdisp.tf
  deploy/terraform/modules/app_tier/outputs.tf
  deploy/terraform/modules/app_tier/variables_global.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-app.tf
  deploy/terraform/modules/app_tier/vm-scs.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
  deploy/terraform/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/modules/common_infrastructure/iscsi.tf
  deploy/terraform/modules/common_infrastructure/outputs.tf
  deploy/terraform/modules/common_infrastructure/variables_global.tf
  deploy/terraform/modules/common_infrastructure/variables_local.tf
  deploy/terraform/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/modules/hdb_node/infrastructure.tf
  deploy/terraform/modules/hdb_node/outputs.tf
  deploy/terraform/modules/hdb_node/variables_global.tf
  deploy/terraform/modules/hdb_node/variables_local.tf
  deploy/terraform/modules/hdb_node/vm-hdb.tf
  deploy/terraform/modules/jumpbox/certificates.tf
  deploy/terraform/modules/jumpbox/outputs.tf
  deploy/terraform/modules/jumpbox/variables_global.tf
  deploy/terraform/modules/jumpbox/variables_local.tf
  deploy/terraform/modules/jumpbox/vm-jump-linux.tf
  deploy/terraform/modules/jumpbox/vm-jump-win.tf
  deploy/terraform/modules/jumpbox/vm-nsg.tf
  deploy/terraform/modules/jumpbox/vm-rti.tf
  deploy/terraform/modules/jumpbox/winrm_files/FirstLogonCommands.xml
  deploy/terraform/modules/jumpbox/winrm_files/winrm.ps1
  deploy/terraform/modules/output_files/ansible_inventory.tmpl
  deploy/terraform/modules/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/modules/output_files/inventory.tf
  deploy/terraform/modules/output_files/outputs.tf
  deploy/terraform/modules/output_files/variables_global.tf
  deploy/terraform/modules/output_files/variables_local.tf
  deploy/terraform/output.tf
  deploy/terraform/providers.tf
  deploy/terraform/run/modules/app_tier/README.md
  deploy/terraform/terraform-units/global/Readme.md
  deploy/terraform/terraform-units/modules/deploy_platform/Readme.md
  deploy/terraform/terraform-units/modules/sap_library/Readme.md
  deploy/terraform/variables_global.tf
  deploy/terraform/variables_local.tf
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
  templates/terraform-deployment-steps-daily.yaml
  templates/terraform-deployment-steps.yaml
  util/terraform_v2.sh
Labels: HOTFIX

#657 Restructure the codebase
  deploy/ansible/group_vars/all.yml
  deploy/ansible/sap_playbook.yml
  deploy/configs/app_sizes.json
  deploy/configs/components.json
  deploy/configs/hdb_sizes.json
  deploy/terraform/bootstrap/Readme.md
  deploy/terraform/run/ansible.tf
  deploy/terraform/run/module.tf
  deploy/terraform/run/modules/app_tier/README.md
  deploy/terraform/run/modules/app_tier/infrastructure.tf
  deploy/terraform/run/modules/app_tier/nsg-app-subnet.tf
  deploy/terraform/run/modules/app_tier/nsg-webdisp.tf
  deploy/terraform/run/modules/app_tier/outputs.tf
  deploy/terraform/run/modules/app_tier/variables_global.tf
  deploy/terraform/run/modules/app_tier/variables_local.tf
  deploy/terraform/run/modules/app_tier/vm-app.tf
  deploy/terraform/run/modules/app_tier/vm-scs.tf
  deploy/terraform/run/modules/app_tier/vm-webdisp.tf
  deploy/terraform/run/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/run/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/run/modules/common_infrastructure/iscsi.tf
  deploy/terraform/run/modules/common_infrastructure/outputs.tf
  deploy/terraform/run/modules/common_infrastructure/variables_global.tf
  deploy/terraform/run/modules/common_infrastructure/variables_local.tf
  deploy/terraform/run/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/run/modules/hdb_node/infrastructure.tf
  deploy/terraform/run/modules/hdb_node/outputs.tf
  deploy/terraform/run/modules/hdb_node/variables_global.tf
  deploy/terraform/run/modules/hdb_node/variables_local.tf
  deploy/terraform/run/modules/hdb_node/vm-hdb.tf
  deploy/terraform/run/modules/jumpbox/certificates.tf
  deploy/terraform/run/modules/jumpbox/outputs.tf
  deploy/terraform/run/modules/jumpbox/variables_global.tf
  deploy/terraform/run/modules/jumpbox/variables_local.tf
  deploy/terraform/run/modules/jumpbox/vm-jump-linux.tf
  deploy/terraform/run/modules/jumpbox/vm-jump-win.tf
  deploy/terraform/run/modules/jumpbox/vm-nsg.tf
  deploy/terraform/run/modules/jumpbox/vm-rti.tf
  deploy/terraform/run/modules/jumpbox/winrm_files/FirstLogonCommands.xml
  deploy/terraform/run/modules/jumpbox/winrm_files/winrm.ps1
  deploy/terraform/run/modules/output_files/ansible_inventory.tmpl
  deploy/terraform/run/modules/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/run/modules/output_files/inventory.tf
  deploy/terraform/run/modules/output_files/outputs.tf
  deploy/terraform/run/modules/output_files/variables_global.tf
  deploy/terraform/run/modules/output_files/variables_local.tf
  deploy/terraform/run/output.tf
  deploy/terraform/run/providers.tf
  deploy/terraform/run/variables_global.tf
  deploy/terraform/run/variables_local.tf
  deploy/terraform/terraform-units/global/Readme.md
  deploy/terraform/terraform-units/modules/deploy_platform/Readme.md
  deploy/terraform/terraform-units/modules/sap_library/Readme.md
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
  templates/terraform-deployment-steps-daily.yaml
  templates/terraform-deployment-steps.yaml
  util/terraform_v2.sh
Labels: Ansible, Terraform, remotestate

#661 Add support to AnyDB
  deploy/anydb_sizes.json
  deploy/template_samples/ha_oracle.json
  deploy/template_samples/single_node_oracle.json
  deploy/template_samples/single_node_oracle_with_custom_image.json
  deploy/terraform/module.tf
  deploy/terraform/modules/anydb_node/infrastructure.tf
  deploy/terraform/modules/anydb_node/outputs.tf
  deploy/terraform/modules/anydb_node/variables_global.tf
  deploy/terraform/modules/anydb_node/variables_local.tf
  deploy/terraform/modules/anydb_node/vm-anydb.tf
  deploy/terraform/modules/output_files/ansible_inventory.tmpl
  deploy/terraform/modules/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/modules/output_files/inventory.tf
  deploy/terraform/modules/output_files/variables_local.tf
Labels: Terraform, enhancement

#652 Add output and script to copy tfstate
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/deployer_scp.tmpl
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/scripts.tf
Labels: Terraform, remotestate

#641 Basic resource creation for sap deployer
  deploy/terraform/bootstrap/deploy_platform/README.md
  deploy/terraform/bootstrap/sap_deployer/backend.tf
  deploy/terraform/bootstrap/sap_deployer/module.tf
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/bootstrap/sap_deployer/variables_global.tf
  deploy/terraform/run/deploy_platform/README.md
  deploy/terraform/run/sap_deployer/backend.tf
  deploy/terraform/run/sap_deployer/module.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/run/sap_deployer/variables_global.tf
  deploy/terraform/run/sap_landscape/module.tf
  deploy/terraform/terraform-units/modules/deploy_platform/Readme.md
  deploy/terraform/terraform-units/modules/sap_deployer/deployer_scp.tmpl
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_deployer/nsg-mgmt.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/providers.tf
  deploy/terraform/terraform-units/modules/sap_deployer/scripts.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform, remotestate

#662 Additional requirement for deployer
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform, enhancement, remotestate

#663 Hotfix: NSG will be deployed to corresponding vnet
  deploy/terraform/modules/app_tier/nsg-app-subnet.tf
  deploy/terraform/modules/app_tier/nsg-webdisp.tf
  deploy/terraform/modules/hdb_node/infrastructure.tf
Labels: Terraform, bug

#670 Hotfix: fix the availability set of webdispatcher
  deploy/terraform/modules/app_tier/vm-webdisp.tf
Labels: Terraform, bug

#671 Add additional rules to mgmt NSG
  deploy/terraform/terraform-units/modules/sap_deployer/nsg-mgmt.tf
Labels: Terraform, remotestate

#664 Add subnet to deployer output and adjust upload script
  deploy/terraform/bootstrap/sap_deployer/deployer_scp.tmpl
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/deployer_scp.tmpl
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform, enhancement, remotestate

#672 Separate files on deployer by SID
  deploy/terraform/run/sap_system/ansible.tf
  deploy/terraform/run/sap_system/variables_local.tf
Labels: Terraform, enhancement, remotestate

#667 Remove RTI from deployment
  deploy/terraform/run/sap_system/README.md
  deploy/terraform/run/sap_system/ansible.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/output.tf
  deploy/terraform/run/sap_system/variables_global.tf
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/nsg-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/admin-nsg.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/imports.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/certificates.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-linux.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-win.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-nsg.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-rti.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform, remotestate

#673 Use local var with defaults for app subnet and mgmt vnet
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/jumpbox/vm-jump-linux.tf
  deploy/terraform/modules/jumpbox/vm-jump-win.tf
Labels: Terraform, bug

#666 Move modules to sap_system
  deploy/terraform/run/sap_system/README.md
  deploy/terraform/run/sap_system/ansible.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/providers.tf
  deploy/terraform/run/sap_system/variables_global.tf
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/nsg-app-subnet.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/nsg-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/imports.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/hdb-nsg.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/certificates.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-linux.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-win.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/winrm_files/FirstLogonCommands.xml
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/winrm_files/winrm.ps1
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform, remotestate

#669 Create JSON with sap_libarary SA information
  deploy/terraform/bootstrap/sap_library/sa_config.tf
  deploy/terraform/bootstrap/sap_library/sa_config.tmpl
Labels: Terraform, remotestate

#668 remote deployer
  deploy/terraform/bootstrap/sap_library/backend.tf
  deploy/terraform/bootstrap/sap_library/deployer_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/saplibrary_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/scripts.tf
  deploy/terraform/bootstrap/sap_library/tfstate_scripts.tmpl
Labels: Terraform

#674 Fix filename and path for deployer
  deploy/terraform/bootstrap/sap_deployer/backend.tf
  deploy/terraform/bootstrap/sap_deployer/deployer_scp.tmpl
Labels: Terraform, enhancement, remotestate

#677 [HOTFIX] fix broken daily pipeline
  templates/terraform-deployment-steps-daily.yaml
Labels: HOTFIX, Pipeline, bug

#675 Output all info about resource group and storage accounts
  deploy/terraform/bootstrap/sap_library/deployer_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/bootstrap/sap_library/sa_config.tf
  deploy/terraform/bootstrap/sap_library/sa_config.tmpl
  deploy/terraform/bootstrap/sap_library/sap_library.json
  deploy/terraform/bootstrap/sap_library/saplibrary_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/scripts.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/outputs.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform, enhancement, remotestate
