Repository Azure/sap-hana, pull requests merged in 2020-09, with the labels that each got.

#743 Move providers.tf to the root module
  deploy/terraform/bootstrap/sap_deployer/providers.tf
Labels: Terraform

#736 Required to use uppercase for workspaces
  .pipeline/templates/ansible/ansible-playbook-steps.yml
  .pipeline/templates/deployer/create-deployer-steps.yml
  .pipeline/templates/deployer/delete-deployer-steps.yml
  .pipeline/templates/deployer/post-deployer-steps.yml
  .pipeline/templates/deployer/validate-deployer-steps.yml
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/saplib/delete-saplib-steps.yml
  .pipeline/templates/saplib/post-saplib-steps.yml
  .pipeline/templates/saplib/validate-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/templates/sapsystem/delete-sapsystem-steps.yml
  .pipeline/templates/sapsystem/validate-sapsystem-steps.yml
  .pipeline/tf-deployer-test.yml
  .pipeline/tf-integration-test.yml
  .pipeline/tf-release.yml
  .pipeline/tf-saplib-test.yml
  .pipeline/tf-sapsystem-test.yml
  deploy/ansible/group_vars/all.yml
  deploy/terraform/bootstrap/sap_deployer/deployer_scp.tmpl
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform, enhancement, remotestate

#740 Change to use uppercacse in deployer
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform, remotestate

#737 Fix web alb and vm offset when sub_web defined
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
Labels: Terraform, bug

#738 Fix web alb and vm offset when sub_web defined on master
  deploy/terraform/modules/app_tier/infrastructure.tf
  deploy/terraform/modules/app_tier/variables_local.tf
  deploy/terraform/modules/app_tier/vm-webdisp.tf
Labels: Terraform, bug

#742 Improve pipeline by adding set -e
  .pipeline/templates/ansible/ansible-playbook-steps.yml
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/saplib/post-saplib-steps.yml
  .pipeline/templates/saplib/validate-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/templates/sapsystem/validate-sapsystem-steps.yml
Labels: Pipeline

#741 Change to user uppercase for saplib
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform, remotestate

#721 Add naming convention to sap_system
  deploy/template_samples/ha_oracle.json
  deploy/template_samples/single_node_oracle.json
  deploy/template_samples/single_node_oracle_with_custom_image.json
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/hdb-nsg.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-linux.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-win.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform, remotestate

#744 Adjust ansible pipeline to use uppercase
  .pipeline/ansible-test.yml
Labels: Pipeline

#754 Remove default naming for deployer vnet
  .pipeline/templates/deployer/create-deployer-steps.yml
  .pipeline/templates/deployer/validate-deployer-steps.yml
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: HOTFIX, Terraform

#755 Fix vnet naming error for sap_system
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: HOTFIX, Terraform

#759 sap_sid and db_sid fixes
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: HOTFIX, Terraform

#765 Revert "sap_sid and db_sid fixes"
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: HOTFIX, Terraform, bug

#764 Add and modify terraform init in pipeline
  .pipeline/templates/deployer/create-deployer-steps.yml
  .pipeline/templates/deployer/validate-deployer-steps.yml
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/saplib/validate-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/templates/sapsystem/validate-sapsystem-steps.yml
Labels: HOTFIX, Pipeline

#748 Replace landscape with environment in all tf files
  .pipeline/templates/deployer/create-deployer-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/bootstrap/sap_library/saplibrary.json
  deploy/terraform/run/sap_deployer/deployer.json
  deploy/terraform/run/sap_landscape/saplandscape.json
  deploy/terraform/run/sap_library/saplibrary.json
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/output.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_local.tf
Labels: Terraform

#762 Change remote container from saplibrary to tfstate
  .pipeline/templates/saplib/post-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform, remotestate

#769 Add beta to integration and release pipeline
  .pipeline/tf-integration-test.yml
  .pipeline/tf-release.yml
Labels: Pipeline

#779 Change saplibrary to tfstate in module sap_system
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_local.tf
Labels: Terraform, bug

#763 First iteration: Add key vaults to sap_deployer
  deploy/terraform/bootstrap/sap_deployer/deployer_scp.tmpl
  deploy/terraform/bootstrap/sap_deployer/providers.tf
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
  deploy/terraform/run/sap_deployer/providers.tf
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform

#770 Only configure fencing when sbd not configured
  deploy/ansible/roles/hana-os-clustering/tasks/cluster-Suse.yml
  templates/terraform-deployment-steps-daily.yaml
  templates/terraform-deployment-steps.yaml
Labels: Ansible, bug

#780 kv for saplibrary
  .pipeline/templates/saplib/create-saplib-steps.yml
  deploy/terraform/bootstrap/sap_library/module.tf
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/bootstrap/sap_library/saplibrary.json
  deploy/terraform/bootstrap/sap_library/variables_global.tf
  deploy/terraform/run/sap_library/module.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/run/sap_library/saplibrary.json
  deploy/terraform/run/sap_library/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_library/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform

#786 Fix some bugs for pipeline in feature/keyvault branch
  .pipeline/templates/deployer/validate-deployer-steps.yml
  .pipeline/templates/saplib/validate-saplib-steps.yml
  .pipeline/templates/sapsystem/validate-sapsystem-steps.yml
Labels: Pipeline

#782 KV for saplandscape
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/run/sap_landscape/providers.tf
  deploy/terraform/run/sap_landscape/saplandscape.json
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/providers.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/output.tf
Labels: Terraform

#785 Add credentials of hana database to kv
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Terraform

#767 First iteration: Support password with deployer
  deploy/terraform/bootstrap/sap_deployer/deployer_scp.tmpl
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform

#788 Remove sshkey dict from default json
  .pipeline/templates/deployer/create-deployer-steps.yml
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/run/sap_deployer/deployer.json
Labels: Terraform

#787 Add object_id for users to be consistent with sap_library
  .pipeline/templates/deployer/create-deployer-steps.yml
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/run/sap_deployer/deployer.json
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform

#790 Add count to kv
  deploy/terraform/terraform-units/modules/sap_system/app_tier/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Terraform

#791 Fix broken sles condition in release pipeline
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
Labels: Pipeline

#793 [HOTFIX] Fix incorrect publisher value
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
Labels: HOTFIX, Pipeline

#796 [hotfix] Use empty string instead of null
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: HOTFIX, Terraform

#789 retrieve ssh key from landscape's KV and use it at VM's creation
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: Terraform

#792 Store SPN of Azure fence agent in KV
  deploy/terraform/run/sap_system/sapsystem_w_fence_agent.json
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Terraform

#801 Dynamically retrieve KV name and name of the secret
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
Labels: Pipeline

#800 Fix several issues in KV
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/run/sap_deployer/deployer.json
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/sapsystem_w_fence_agent.json
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Terraform

#802 update app tier authentication and output tier to display password
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.yml.tmpl
Labels: Terraform

#798 Add peering cleanup in daily cleanup job
  azure-pipelines-cleanup.yaml
Labels: Pipeline

#799 Remove redirect log in pipeline
  .pipeline/templates/saplandscape/create-saplandscape-steps.yml
  .pipeline/templates/saplandscape/delete-saplandscape-steps.yml
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/saplib/delete-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/templates/sapsystem/delete-sapsystem-steps.yml
Labels: Pipeline

#804 Retrieve ppk from KV for ansible pipeline
  .pipeline/ansible-test.yml
  .pipeline/templates/ansible/ansible-playbook-steps.yml
Labels: Pipeline

#752 Adding the new naming module
  deploy/terraform/terraform-units/modules/sap_namegenerator/keyvault.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/output.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/resourcegroup.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/vm.tf
Labels: enhancement

#806 Produce only one pair of KVs per SID
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_system.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Terraform

#807 Support anydb with KV
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
Labels: Terraform

#808 Separate kv from infra for deployer
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_deployer/key_vault.tf
Labels: Terraform
