Repository Azure/sap-hana, pull requests merged in 2020-02, with the labels that each got.

#274 Reduce unnecessary jobs from pipeline
  azure-pipelines-v2.yaml
  templates/job-template-allReuseCases.yaml
  templates/job-template-per-os.yaml
Labels: Test

#276 [HOT FIX] Fix downloder after SAP changed the behavior in SMP
  deploy/v2/python/downloader/SAP_SMP.py
Labels: HOTFIX, bug

#277 Pin NSG rules for rdp and winrm to vnet
  deploy/vm/modules/common_setup/nsg.tf
  deploy/vm/modules/common_setup/variables.tf
  deploy/vm/modules/single_node_hana/single-node-hana.tf
  deploy/vm/modules/windows_bastion_host/main.tf
  deploy/vm/modules/windows_bastion_host/variables.tf
Labels: Terraform, bug

#279 Reduce v2 pipeline runtime
  templates/job-template-allReuseCases.yaml
Labels: Test

#275 Install pip3 using apt
  deploy/v2/ansible/roles/sap-media-download/tasks/main.yml
  deploy/v2/terraform/modules/jumpbox/main.tf
Labels: Ansible, Terraform

#280 Use Python 3 interpreter for ansible
  deploy/v2/terraform/modules/jumpbox/main.tf
Labels: Ansible

#281 Fix problem with winrm
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/jumpbox/main.tf
  deploy/v2/terraform/modules/jumpbox/outputs.tf
  deploy/v2/terraform/modules/output_files/ansible_inventory.tmpl
Labels: Ansible, Terraform, bug

#282 Add ansible code to install components on linux jumpboxes
  deploy/v2/ansible/group_vars/all.yml
  deploy/v2/ansible/roles/components-install/tasks/hana_client_linux.yml
  deploy/v2/ansible/roles/components-install/tasks/hana_studio_linux.yml
  deploy/v2/ansible/roles/linux-jumpboxes-install/tasks/main.yml
  deploy/v2/ansible/sap_playbook.yml
Labels: Ansible

#284 Add ansible code to install component on windows jumpboxes
  deploy/v2/ansible/group_vars/all.yml
  deploy/v2/ansible/roles/components-install/tasks/hana_client_windows.yml
  deploy/v2/ansible/roles/components-install/tasks/hana_studio_windows.yml
  deploy/v2/ansible/roles/windows-jumpboxes-install/tasks/main.yml
  deploy/v2/ansible/sap_playbook.yml
  templates/tempGen/template.json
Labels: Ansible

#286 Add code to enable prometheus on HANA VMs
  azure-pipelines-v2.yaml
  deploy/v2/ansible/roles/enable-prometheus/tasks/main.yml
  deploy/v2/ansible/sap_playbook.yml
  deploy/v2/input.json
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/output_files/main.tf
  deploy/v2/terraform/modules/output_files/variables.tf
  templates/tempGen/template.json
Labels: Ansible, Terraform

#288 Document and Simplify V2 Usage Process
  .gitignore
  deploy/v2/USAGE.md
  util/README.md
  util/check_subscription.sh
  util/check_workstation.sh
  util/common_utils.sh
  util/create_service_principal.sh
  util/set_sap_download_credentials.sh
  util/terraform_v2.sh
Labels: Documentation, Terraform, enhancement

#294 Document and Simplify V2 Usage Process (see #288)
  .gitignore
  deploy/v2/USAGE.md
  util/README.md
  util/check_subscription.sh
  util/check_workstation.sh
  util/common_utils.sh
  util/create_service_principal.sh
  util/set_sap_download_credentials.sh
  util/terraform_v2.sh
Labels: Terraform, enhancement

#297 Utility script support for multiple input JSON templates
  deploy/v2/USAGE.md
  deploy/v2/template_samples/rti_only.json
  util/common_utils.sh
  util/create_service_principal.sh
  util/set_sap_download_credentials.sh
  util/terraform_v2.sh
Labels: Terraform, enhancement

#298 Utility script support for multiple input JSON templates (#297)
  deploy/v2/USAGE.md
  deploy/v2/template_samples/rti_only.json
  util/common_utils.sh
  util/create_service_principal.sh
  util/set_sap_download_credentials.sh
  util/terraform_v2.sh
Labels: Terraform, bug, enhancement
