Repository Azure/sap-hana, pull requests merged in 2020-11, with the labels that each got.

#882 Fix problems with merges into feature/naming-module
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/certificates.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform, bug

#879 Change deployer vnet from MGMT to DEP00 in cleanup job
  azure-pipelines-cleanup.yaml
Labels: Pipeline

#883 [CAYL] Replace hyphen with underscore
  deploy/terraform/run/sap_system/ansible.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/nsg-app-subnet.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/nsg-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_system.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/vm-anchor.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/hdb-nsg.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/certificates.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-linux.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-win.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform

#885 Use SSH key pair from KV for anchor VM
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_system.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/vm-anchor.tf
Labels: Terraform

#847 Add Observer VM for HA Oracle deployments
  deploy/terraform/terraform-units/modules/sap_namegenerator/output.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/vm.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
Labels: enhancement

#886 Apply naming module to KVs
  deploy/terraform/terraform-units/modules/sap_deployer/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_library/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_system.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
Labels: Terraform

#887 Use offset table for vm nic offsets
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: Terraform

#890 Continue on failure of IMDS
  deploy/terraform/terraform-units/modules/sap_deployer/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_library/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/IMDS.tf
Labels: Terraform, bug

#891 Add the ostype variables for scs and web
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
Labels: bug

#894 Naming errors
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/vm-anchor.tf
Labels: bug

#892 Improve post deployer step so less failure due to NSG
  .pipeline/templates/util/add-agent-to-deployer-nsg.yml
  .pipeline/tf-integration-test.yml
Labels: Pipeline

#893 Remove workaround for deployer creation in pipeline
  .pipeline/templates/deployer/create-deployer-steps.yml
Labels: Pipeline, Terraform

#896 Improve cleanup after deployment in pipeline
  .pipeline/templates/saplandscape/delete-saplandscape-steps.yml
  .pipeline/templates/sapsystem/delete-sapsystem-steps.yml
Labels: Pipeline

#895 Add ultradisk flag and accelerated networking flag to anchor
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/vm-anchor.tf
Labels: enhancement

#899 fix a bug about storage_list when deploying saplandscape
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
Labels: bug

#897 upgrade terraform from 12 to 13
  .pipeline/templates/util/prepare-agent.yml
  deploy/terraform/bootstrap/sap_deployer/providers.tf
  deploy/terraform/bootstrap/sap_library/providers.tf
  deploy/terraform/run/sap_deployer/providers.tf
  deploy/terraform/run/sap_landscape/providers.tf
  deploy/terraform/run/sap_library/providers.tf
  deploy/terraform/run/sap_system/providers.tf
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
Labels: Terraform, enhancement

#898 remove jumpbox related logic
  deploy/terraform/run/sap_system/ansible.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/certificates.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-linux.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/vm-jump-win.tf
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/winrm_files/FirstLogonCommands.xml
  deploy/terraform/terraform-units/modules/sap_system/jumpbox/winrm_files/winrm.ps1
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform, enhancement

#901 reference azure resource group implicitly to add dependency
  deploy/terraform/terraform-units/modules/sap_library/key_vault.tf
Labels: bug

#904 Fixes for deployments without zone information
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: HOTFIX

#903 Clean iscsi logic in sapsystem. import tfstate of landscape into sapsystem
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/run/sap_system/backend.tf
  deploy/terraform/run/sap_system/imports.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/providers.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/sapsystem_zones.json
  deploy/terraform/run/sap_system/variables_global.tf
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform, remotestate

#909 clean use_msi flag
  deploy/terraform/run/sap_landscape/imports.tf
  deploy/terraform/run/sap_library/imports.tf
  deploy/terraform/run/sap_system/imports.tf
Labels: enhancement

#900 Move db subnet to common_infrastructure
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/nsgs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/vm-anchor.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/hdb-nsg.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: enhancement

#910 Only run cleanup job against master
  azure-pipelines-cleanup.yaml
Labels: Pipeline

#911 Import existing vnet with arm_id
  deploy/terraform/run/sap_landscape/saplandscape_full.json
Labels: Terraform, remotestate

#912 Add sa information to output json for ansible test
  .pipeline/ansible-test.yml
  .pipeline/templates/ansible/ansible-playbook-steps.yml
  .pipeline/tf-release.yml
Labels: Pipeline

#908 import vnet sap into common_infrastructure
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/nsgs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: Terraform

#913 Add key pair for iSCSI in ansible-test pipeline
  .pipeline/templates/ansible/ansible-playbook-steps.yml
Labels: Pipeline

#914 Fix ObserverName
  deploy/terraform/terraform-units/modules/sap_namegenerator/vm.tf
Labels: bug

#915 Change default deployer vnet name from mgmt to dep00
  deploy/terraform/bootstrap/sap_deployer/variables_local.tf
  deploy/terraform/run/sap_deployer/variables_local.tf
Labels: Terraform, bug

#916 Region fix, zone logic validation, DNS variables
  deploy/terraform/terraform-units/modules/sap_landscape/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/output.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/resourcegroup.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/vm.tf
Labels: bug, enhancement

#918 Consider vnets management name if provided
  deploy/terraform/bootstrap/sap_deployer/deployer.json
  deploy/terraform/bootstrap/sap_deployer/deployer_full.json
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform, bug

#917 Add Explicit dependencies
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: Terraform, enhancement

#921 Add zone logic for ultra disk
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
Labels: HOTFIX

#927 make output same between bootstrap/run deployer
  deploy/terraform/run/sap_deployer/output.tf
Labels: enhancement

#922 Dont deploy webdipatcher lb if no webdispatchers
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/nsg-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/outputs.tf
Labels: enhancement

#926 Add provider constraints
  deploy/terraform/bootstrap/sap_deployer/providers.tf
  deploy/terraform/bootstrap/sap_library/providers.tf
  deploy/terraform/run/sap_deployer/providers.tf
  deploy/terraform/run/sap_landscape/providers.tf
  deploy/terraform/run/sap_library/providers.tf
  deploy/terraform/run/sap_system/providers.tf
Labels: enhancement

#924 Only deploy scs loadbalancer if scs servers are deployed
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
Labels: enhancement

#929 Add Workshop Docs Updated to include this feature
  documentation/workshop/standard/01-bootstrap-deployer.md
  documentation/workshop/standard/02-spn.md
  documentation/workshop/standard/03-bootstrap-library.md
  documentation/workshop/standard/04-reinitialize.md
  documentation/workshop/standard/05-workload-vnet.md
  documentation/workshop/standard/06-sdu.md
  documentation/workshop/standard/99-cleanup.md
  documentation/workshop/standard/assets/Block1.png
  documentation/workshop/standard/assets/Block2.png
  documentation/workshop/standard/assets/Block3.png
  documentation/workshop/standard/assets/Block4.png
  documentation/workshop/standard/assets/Block5a.png
  documentation/workshop/standard/assets/Block5b.png
  documentation/workshop/standard/assets/BlockOverview.png
  documentation/workshop/standard/assets/CloudShell1.png
  documentation/workshop/standard/assets/CloudShell2.png
  documentation/workshop/standard/assets/CloudShell3.png
  documentation/workshop/standard/assets/Outputs-Deployer.png
  documentation/workshop/standard/assets/Reinitialize1.png
  documentation/workshop/standard/assets/Reinitialize2.png
  documentation/workshop/standard/readme.md
  documentation/workshop/standard/templates/NP-EUS2-DEP00-INFRASTRUCTURE.json
  documentation/workshop/standard/templates/NP-EUS2-SAP00-INFRASTRUCTURE.json
  documentation/workshop/standard/templates/NP-EUS2-SAP00-X00.json
  documentation/workshop/standard/templates/NP-EUS2-SAP_LIBRARY.json
  documentation/workshop/workshops.md
Labels: Documentation

#920 Support import multiple existing ppgs
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/vm-anchor.tf
Labels: Terraform

#928 Revert changes on depends on in module
  deploy/terraform/run/sap_system/module.tf
Labels: Terraform, bug, remotestate

#931 Add depends_on from anchor to db to app
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: Terraform, bug

#932 Remove ansible automatic execution logic
  deploy/terraform/run/sap_landscape/variables_local.tf
  deploy/terraform/run/sap_system/ansible.tf
  deploy/terraform/run/sap_system/sapsystem_zones.json
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
Labels: Terraform

#936 Change git to use 1:2.17.1-1ubuntu0.7
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform, bug

#935 Trim output of saplandscape
  deploy/terraform/run/sap_landscape/output.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_landscape/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Terraform, enhancement

#937 import existing key vaults to sap deployer
  deploy/terraform/bootstrap/sap_deployer/deployer_full.json
  deploy/terraform/bootstrap/sap_deployer/module.tf
  deploy/terraform/bootstrap/sap_deployer/providers.tf
  deploy/terraform/bootstrap/sap_deployer/variables_global.tf
  deploy/terraform/run/sap_deployer/module.tf
  deploy/terraform/run/sap_deployer/providers.tf
  deploy/terraform/run/sap_deployer/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_deployer/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform

#939 Fix config path for sap_landscape pipeline
  .pipeline/templates/saplandscape/delete-saplandscape-steps.yml
  .pipeline/templates/saplandscape/validate-saplandscape-steps.yml
Labels: Pipeline, Terraform, bug, remotestate

#930 [ANF] Support deployment to existing avsets (db)
  deploy/terraform/run/sap_system/sapsystem_full.json
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: enhancement

#923 Separator character between resource/extension
  deploy/terraform/terraform-units/modules/sap_landscape/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: enhancement

#943 Wrong count for web dispatcher VMs
  deploy/terraform/terraform-units/modules/sap_namegenerator/vm.tf
Labels: HOTFIX

#940 Removing invalid char in KV names
  deploy/terraform/terraform-units/modules/sap_namegenerator/keyvault.tf
Labels: enhancement

#938 Recover secrets in pipeline if rerun failed test is required
  .pipeline/templates/deployer/post-deployer-steps.yml
  .pipeline/templates/saplandscape/create-saplandscape-steps.yml
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
Labels: Pipeline, enhancement

#941 Add condition for sap_system validation step
  .pipeline/templates/sapsystem/validate-sapsystem-steps.yml
Labels: Pipeline, Terraform

#952 when iscsi is not provisioned, the output of iscsi should be empty string
  deploy/terraform/terraform-units/modules/sap_landscape/variables_local.tf
Labels: Terraform

#944 [DHCP] Support dynamic IP addresses for the app tier
  deploy/terraform/run/sap_system/output.tf
  deploy/terraform/run/sap_system/providers.tf
  deploy/terraform/run/sap_system/sapsystem_full.json
  deploy/terraform/terraform-units/modules/sap_system/app_tier/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
Labels: Terraform, enhancement

#945 [DHCP] Support dynamic IP addresses for the database tier & anchor VM
  deploy/terraform/run/sap_system/output.tf
  deploy/terraform/run/sap_system/sapsystem_full.json
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/vm-anchor.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: Terraform, enhancement

#956 fix the secret name of deployer's output
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
Labels: bug

#954 [DHCP] Support dynamic IP addresses for the iSCSI VM
  deploy/terraform/run/sap_landscape/output.tf
  deploy/terraform/run/sap_landscape/saplandscape_full.json
  deploy/terraform/terraform-units/modules/sap_landscape/iscsi.tf
  deploy/terraform/terraform-units/modules/sap_landscape/outputs.tf
  deploy/terraform/terraform-units/modules/sap_landscape/variables_local.tf
Labels: enhancement

#955 import existing kv to saplibrary
  deploy/terraform/bootstrap/sap_library/module.tf
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/bootstrap/sap_library/providers.tf
  deploy/terraform/bootstrap/sap_library/saplibrary_full.json
  deploy/terraform/bootstrap/sap_library/variables_global.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/run/sap_library/providers.tf
  deploy/terraform/run/sap_library/saplibrary_full.json
  deploy/terraform/run/sap_library/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_library/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform

#933 Disable pip for deployer by default
  .pipeline/templates/deployer/create-deployer-steps.yml
  deploy/terraform/bootstrap/sap_deployer/deployer_full.json
  deploy/terraform/bootstrap/sap_deployer/deployer_init.sh
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
  deploy/terraform/bootstrap/sap_deployer/variables_local.tf
  deploy/terraform/run/sap_deployer/deployer_full.json
  deploy/terraform/terraform-units/modules/sap_deployer/IMDS.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform, enhancement, remotestate

#934 [ANF] Add a third nic for ANF scaleout
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: enhancement

#959 Store username as secret in deployer KV if password is used
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform

#960 [BUG] Deployer deployment with existing NSG fails
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: HOTFIX, Terraform, bug

#962 [ISSUE] Currently the app tier is hard coded to standard_lrs storage
  deploy/configs/app_sizes.json
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
Labels: Terraform, invalid

#958 import kvs to saplandscape
  deploy/terraform/run/sap_landscape/module.tf
  deploy/terraform/run/sap_landscape/output.tf
  deploy/terraform/run/sap_landscape/saplandscape_full.json
  deploy/terraform/run/sap_landscape/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_landscape/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_landscape/outputs.tf
  deploy/terraform/terraform-units/modules/sap_landscape/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_landscape/variables_local.tf
Labels: Terraform

#964 Add depends on from anchor to db to app
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: HOTFIX, Terraform

#965 import username secret into landscape
  deploy/terraform/terraform-units/modules/sap_landscape/key_vault_sap_landscape.tf
  deploy/terraform/terraform-units/modules/sap_landscape/variables_local.tf
Labels: Terraform

#967 use import username as logon username
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform

#947 [TAGGING] Support custom tagging for database VMs
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-observer.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: Terraform, enhancement
