Repository Azure/sap-hana, pull requests merged in 2020-08, with the labels that each got.

#676 Import sap bits information from sap_library tfstate
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/imports.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/output.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_local.tf
Labels: Terraform, remotestate

#680 Clean local tfstate files after uploading
  deploy/terraform/bootstrap/sap_library/deployer_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/saplibrary_tfstate_script.tmpl
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform

#679 Make *_tfstate_scrpt.sh idempotent
  deploy/terraform/bootstrap/sap_library/deployer_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/saplibrary_tfstate_script.tmpl
Labels: Terraform, enhancement, remotestate

#678 Upload JSON for deployer and saplibrary
  deploy/terraform/bootstrap/sap_deployer/deployer_scp.tmpl
  deploy/terraform/bootstrap/sap_library/deployer_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/saplibrary.json
  deploy/terraform/bootstrap/sap_library/saplibrary_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/scripts.tf
Labels: Terraform, enhancement, remotestate

#682 Fix error with xsa install
  deploy/template_samples/single_node_hana.json
  deploy/template_samples/single_node_hana_with_xsa.json
  documentation/json-adjusting-template.md
  templates/tempGen/template-daily.json
Labels: Ansible, bug

#681 Copy saplibrary module from bootstrap to run
  deploy/terraform/bootstrap/sap_library/deployer_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/saplibrary_tfstate_script.tmpl
  deploy/terraform/run/sap_library/backend.tf
  deploy/terraform/run/sap_library/module.tf
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/run/sap_library/variables_global.tf
  deploy/terraform/run/sap_library/variables_local.tf
Labels: Terraform

#683 Upload json for deployer and saplibrary with terraform
  deploy/terraform/bootstrap/sap_library/deployer_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/saplibrary_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/scripts.tf
  deploy/terraform/terraform-units/modules/sap_library/remote_file.tf
Labels: Terraform, enhancement, remotestate

#687 Use resource group name for deployer when provided
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform, enhancement, remotestate

#688 Remove hyphen from variable names
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_deployer/nsg-mgmt.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform, enhancement, remotestate

#686 Create a script to help users download input json from sa
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/run/sap_library/util/download_input.sh
Labels: Terraform, remotestate

#685 Create PR template
  .github/pull_request_template.md
Labels: enhancement

#690 Change the container to saplandscape and sapsystem from tfstate, json
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/bootstrap/sap_library/saplibrary.json
  deploy/terraform/run/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/output.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform, remotestate

#691 Create a script for users to init and apply sap system
  deploy/terraform/run/sap_system/backend.tf
  deploy/terraform/run/sap_system/util/terraform.sh
Labels: Terraform, remotestate

#684 Add sapsystem default json template
  deploy/terraform/run/sap_system/backend.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/output.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/remote_file.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_local.tf
Labels: Terraform, enhancement, remotestate

#693 fixes for deployer
  deploy/terraform/bootstrap/sap_deployer/deployer_scp.tmpl
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/imports.tf
Labels: Terraform, enhancement, remotestate

#694 make scripts run from anywhere
  deploy/terraform/bootstrap/sap_library/deployer_tfstate_script.tmpl
  deploy/terraform/bootstrap/sap_library/saplibrary_tfstate_script.tmpl
Labels: Terraform, remotestate

#695 force a new deployment of json if the content of input json changed
  deploy/terraform/terraform-units/modules/sap_library/remote_file.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/remote_file.tf
Labels: Terraform, remotestate

#698 Add more coding guideline
  CONTRIBUTING.md
Labels: Documentation

#710 azure-pipeline will only test hotfixes in master
  azure-pipelines.yaml
Labels: Pipeline

#709 Clean repo structure
  deploy/terraform/bootstrap/sap_landscape/ansible.tf
  deploy/terraform/bootstrap/sap_landscape/module.tf
  deploy/terraform/bootstrap/sap_landscape/output.tf
  deploy/terraform/bootstrap/sap_landscape/providers.tf
  deploy/terraform/bootstrap/sap_landscape/variables_global.tf
  deploy/terraform/bootstrap/sap_landscape/variables_local.tf
  deploy/terraform/run/modules/anydb_node/infrastructure.tf
  deploy/terraform/run/modules/anydb_node/outputs.tf
  deploy/terraform/run/modules/anydb_node/variables_global.tf
  deploy/terraform/run/modules/anydb_node/variables_local.tf
  deploy/terraform/run/modules/anydb_node/vm-anydb.tf
  deploy/terraform/run/modules/app_tier/README.md
  deploy/terraform/run/modules/app_tier/infrastructure.tf
  deploy/terraform/run/modules/app_tier/nsg-app-subnet.tf
  deploy/terraform/run/modules/app_tier/nsg-webdisp.tf
  deploy/terraform/run/modules/app_tier/outputs.tf
  deploy/terraform/run/modules/app_tier/variables_global.tf
  deploy/terraform/run/modules/app_tier/variables_local.tf
  deploy/terraform/run/modules/app_tier/vm-app.tf
  deploy/terraform/run/modules/app_tier/vm-scs.tf
  deploy/terraform/run/modules/app_tier/vm-webdisp.tf
  deploy/terraform/run/modules/common_infrastructure/admin-nsg.tf
  deploy/terraform/run/modules/common_infrastructure/infrastructure.tf
  deploy/terraform/run/modules/common_infrastructure/iscsi.tf
  deploy/terraform/run/modules/common_infrastructure/outputs.tf
  deploy/terraform/run/modules/common_infrastructure/variables_global.tf
  deploy/terraform/run/modules/common_infrastructure/variables_local.tf
  deploy/terraform/run/modules/hdb_node/hdb-nsg.tf
  deploy/terraform/run/modules/hdb_node/infrastructure.tf
  deploy/terraform/run/modules/hdb_node/outputs.tf
  deploy/terraform/run/modules/hdb_node/variables_global.tf
  deploy/terraform/run/modules/hdb_node/variables_local.tf
  deploy/terraform/run/modules/hdb_node/vm-hdb.tf
  deploy/terraform/run/modules/jumpbox/certificates.tf
  deploy/terraform/run/modules/jumpbox/outputs.tf
  deploy/terraform/run/modules/jumpbox/variables_global.tf
  deploy/terraform/run/modules/jumpbox/variables_local.tf
  deploy/terraform/run/modules/jumpbox/vm-jump-linux.tf
  deploy/terraform/run/modules/jumpbox/vm-jump-win.tf
  deploy/terraform/run/modules/jumpbox/vm-nsg.tf
  deploy/terraform/run/modules/jumpbox/vm-rti.tf
  deploy/terraform/run/modules/jumpbox/winrm_files/FirstLogonCommands.xml
  deploy/terraform/run/modules/jumpbox/winrm_files/winrm.ps1
  deploy/terraform/run/modules/output_files/ansible_inventory.tmpl
  deploy/terraform/run/modules/output_files/ansible_inventory.yml.tmpl
  deploy/terraform/run/modules/output_files/inventory.tf
  deploy/terraform/run/modules/output_files/outputs.tf
  deploy/terraform/run/modules/output_files/variables_global.tf
  deploy/terraform/run/modules/output_files/variables_local.tf
  templates/ansible-deployment-steps-daily.yaml
  templates/ansible-deployment-steps.yaml
  templates/terraform-deployment-steps-daily.yaml
  templates/terraform-deployment-steps.yaml
Labels: Terraform, enhancement

#707 Remove management lock from terraform
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_library/infrastructure.tf
Labels: Terraform, remotestate

#715 No peering when vnet exists
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
Labels: Terraform, remotestate

#706 Move CIDR defaults out of tf defaults
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: Terraform, enhancement, remotestate

#703 Mask output date for pipeline
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/bootstrap/sap_library/output.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/run/sap_library/output.tf
Labels: Terraform, remotestate

#714 Add naming convention to sap_library
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform, remotestate

#718 Address new requirement for sap_system
  deploy/terraform/run/sap_system/ansible.tf
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/util/download_input.sh
  deploy/terraform/run/sap_system/util/terraform.sh
  deploy/terraform/run/sap_system/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/imports.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_global.tf
  deploy/terraform/terraform-units/modules/sap_system/deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/imports.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/output.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/remote_file.tf
  deploy/terraform/terraform-units/modules/sap_system/saplibrary/variables_local.tf
Labels: Terraform, remotestate

#719 Use rg name when provided
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: Terraform, remotestate

#723 Use local SSH keypair for sapsystem by default
  deploy/terraform/run/sap_system/sapsystem.json
Labels: Terraform, remotestate

#705 Add deployer pipeline
  .pipeline/templates/deployer/create-deployer-steps.yml
  .pipeline/templates/deployer/delete-deployer-steps.yml
  .pipeline/templates/deployer/validate-deployer-steps.yml
  .pipeline/templates/util/prepare-agent.yml
  .pipeline/templates/variables.yaml
  .pipeline/tf-deployer-test.yml
Labels: Pipeline, Terraform, enhancement, remotestate

#720 Add sapsystem pipeline
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/templates/sapsystem/delete-sapsystem-steps.yml
  .pipeline/templates/sapsystem/validate-sapsystem-steps.yml
  .pipeline/templates/util/add-agent-to-deployer-nsg.yml
  .pipeline/templates/util/remove-agent-from-deployer-nsg.yml
  .pipeline/tf-sapsystem-test.yml
Labels: Pipeline, Terraform, remotestate

#722 Add integration test pipeline
  .pipeline/templates/deployer/post-deployer-steps.yml
  .pipeline/templates/saplib/post-saplib-steps.yml
  .pipeline/tf-integration-test.yml
Labels: Pipeline, Terraform, remotestate

#725 Always create resources despite of fail of validation step
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
Labels: Pipeline, Terraform, remotestate

#724 Add release pipeline
  .pipeline/templates/ansible/ansible-playbook-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/tf-integration-test.yml
  .pipeline/tf-release.yml
  .pipeline/tf-sapsystem-test.yml
Labels: Pipeline, Terraform, remotestate

#726 Add pipeline to test ansible-playbook
  .pipeline/ansible-test.yml
Labels: Ansible, Pipeline

#729 Enhance post_deployment script
  deploy/terraform/bootstrap/sap_deployer/deployer_scp.tmpl
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
Labels: Terraform, enhancement, remotestate

#727 Create fencing agent script under workspace
  util/create_fencing_agent.sh
Labels: Ansible

#730 Add softlink to current terraform version
  deploy/terraform/terraform-units/modules/sap_deployer/vm-deployer.tf
Labels: Terraform, enhancement, remotestate

#732 By default two SAs will be provisioned.
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
Labels: Terraform

#731 Remove jumpbox stanza
  deploy/terraform/run/sap_system/sapsystem.json
  deploy/terraform/run/sap_system/variables_global.tf
Labels: Terraform

#733 Fix problem in sapsystem test pipeline
  .pipeline/templates/saplib/create-saplib-steps.yml
  .pipeline/templates/sapsystem/create-sapsystem-steps.yml
  .pipeline/tf-sapsystem-test.yml
Labels: Pipeline

#660 Add instruction to mount dedicated lun for kdump core dump files
  tools/enable-kdump.sh
Labels: BMTools
