Repository Azure/sap-hana, pull requests merged in 2020-03, with the labels that each got.

#304 Disable ansible execution and minimize testing scope
  templates/ansible-deployment-steps.yaml
  templates/tempGen/template.json
Labels: Test

#296 Fix problem when depends_on is not defined for the comp
  deploy/v2/ansible/group_vars/all.yml
  deploy/v2/ansible/roles/hdb-server-install/tasks/main.yml
Labels: bug

#307 Util script support for terraform plan and cleaning local state
  deploy/v2/ansible/group_vars/all.yml
  deploy/v2/ansible/roles/hdb-server-install/tasks/main.yml
  templates/ansible-deployment-steps.yaml
  templates/tempGen/template.json
  util/terraform_v2.sh
Labels: enhancement

#309 Simplify usage by auto-sourcing Service Principal Auth Credentials File
  util/terraform_v2.sh
Labels: enhancement

#313 Fixing missing semicolons in terraform_v2.sh
  util/terraform_v2.sh
Labels: bug

#310 Simplify usage by auto-sourcing Service Principal Auth Credentials File
  util/terraform_v2.sh
Labels: enhancement

#314 [HOTFIX] Update all deployment script to use SLES12 SP5
  azure-pipelines-v2.yaml
  deploy/vm/ansible/roles/create-azure-vm/defaults/main.yml
  deploy/vm/ansible/roles/create-hana-cluster/tasks/main.yml
  deploy/vm/ansible/roles/disk-setup/tasks/main.yml
  deploy/vm/modules/generic_vm_and_disk_creation/main.tf
  templates/README.MD
Labels: HOTFIX, bug

#316 [HOTFIX] Fix broken saplandscaperunner
  deploy/vm/ansible/delete_bastion_linux.yml
  deploy/vm/ansible/linux_bastion_host.yml
  deploy/vm/ansible/roles/disk-setup/tasks/main.yml
  deploy/vm/ansible/roles/iscsi-setup/tasks/main.yml
  deploy/vm/modules/playbook-execution/main.tf
  deploy/vm/modules/playbook-execution/variables.tf
  deploy/vm/modules/single_node_hana/single-node-hana.tf
Labels: Ansible, HOTFIX, Terraform, Test

#318 Addition of LB to single node HANA
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/hdb_node/outputs.tf
  deploy/v2/terraform/modules/hdb_node/variables.tf
  util/terraform_v2.sh
Labels: Terraform

#324 Adding Availability Set to HDB Node module
  deploy/v2/terraform/modules/hdb_node/main.tf
Labels: Terraform

#322 add supportibility to hana2sp4
  deploy/vm/ansible/roles/saphana-install/tasks/main.yml
Labels: Ansible, enhancement

#325 Staging: Update documentation
  deploy/v2/USAGE.md
  deploy/v2/terraform/README.md
  deploy/v2/terraform/images/single-node-instance-architecture.png
Labels: Documentation

#327 Migrate to azurerm 2.0
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/hdb_node/outputs.tf
  deploy/v2/terraform/modules/hdb_node/variables.tf
  deploy/v2/terraform/modules/jumpbox/main.tf
  deploy/v2/terraform/modules/jumpbox/outputs.tf
Labels: Terraform

#326 Update usage documentation and architecture diagram
  deploy/v2/USAGE.md
  deploy/v2/terraform/README.md
  deploy/v2/terraform/images/single-node-instance-architecture.png
Labels: Documentation

#329 Update azure pipeline with latest SLES and RHEL version
  azure-pipelines-v2-daily.yaml
  azure-pipelines-v2.yaml
Labels: Test

#328 Migrate to azurerm 2.0
  deploy/v2/terraform/main.tf
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/hdb_node/outputs.tf
  deploy/v2/terraform/modules/hdb_node/variables_local.tf
  deploy/v2/terraform/modules/jumpbox/main.tf
  deploy/v2/terraform/modules/jumpbox/outputs.tf
Labels: Terraform

#332 Associate the HDB Node VMs with the Availability Set
  deploy/v2/terraform/modules/hdb_node/main.tf
Labels: Terraform, bug

#333 [HOTFIX] Revert vm implementation for hdb node to fix #330
  deploy/v2/terraform/modules/hdb_node/main.tf
Labels: HOTFIX, Terraform, bug

#335 Fix issue using azurerm_linux_virtual_machine
  deploy/v2/terraform/modules/hdb_node/main.tf
Labels: Terraform, bug

#334 Reuse existing storage account in v2 pipeline
  deploy/v2/ansible/roles/sap-media-download/tasks/main.yml
  templates/tempGen/template.json
  templates/terraform-deployment-steps.yaml
Labels: Ansible, Test

#344 Fix incorrect NICs assignemnt for HANA server
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/output_files/ansible_inventory.tmpl
Labels: Terraform, bug

#351 [HOTFIX] Disable hostname setup to avoid hostname changes back and forth
  deploy/vm/ansible/ha_pair_playbook.yml
  deploy/vm/ansible/roles/hotfix/.DS_Store
  deploy/vm/ansible/roles/hotfix/tasks/main.yml
  deploy/vm/ansible/single_node_playbook.yml
Labels: Ansible, HOTFIX, Test, bug

#352 Fix a bug in resume download
  deploy/v2/python/downloader/SAP_DLM.py
Labels: bug

#345 Clustered HANA Terraform update
  deploy/v2/USAGE.md
  deploy/v2/template_samples/clustered_hana.json
  deploy/v2/terraform/README.md
  deploy/v2/terraform/images/clustered-hana-instance-architecture.png
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/hdb_node/variables_local.tf
  deploy/v2/terraform/modules/output_files/variables_local.tf
  util/common_utils.sh
  util/create_service_principal.sh
  util/set_sap_download_credentials.sh
  util/terraform_v2.sh
Labels: Terraform, enhancement

#354 Fix edge case with rti_only template sample
  deploy/v2/terraform/modules/hdb_node/main.tf
  deploy/v2/terraform/modules/hdb_node/variables_local.tf
Labels: Terraform, bug

#358 Staging PR: Ability to script the resource group name (#13)
  deploy/v2/USAGE.md
  util/common_utils.sh
  util/set_resource_group.sh
  util/set_sap_download_credentials.sh
  util/terraform_v2.sh
Labels: enhancement

#359 Ability to script the resource group name (#358)
  deploy/v2/USAGE.md
  util/common_utils.sh
  util/set_resource_group.sh
  util/set_sap_download_credentials.sh
  util/terraform_v2.sh
Labels: enhancement

#361 Staging PR: Enable Static IPs for HA deployments
  deploy/v2/input.json
  deploy/v2/terraform/modules/hdb_node/variables_local.tf
Labels: Terraform, bug

#367 Staging: Ability to script the resource group name
  deploy/v2/USAGE.md
  util/terraform_v2.sh
Labels: enhancement

#364 Enable Static IPs for HA deploments
  deploy/v2/input.json
  deploy/v2/terraform/modules/hdb_node/variables_local.tf
Labels: Terraform, bug

#368 Fixes #348 by allowing RG names to be set via env var for util scripts
  deploy/v2/USAGE.md
  util/terraform_v2.sh
Labels: enhancement

#369 Update readme to not allow password for all linux VMs and adjust IP to list for dbnodes
  deploy/v2/README.MD
Labels: bug

#370 Extend pipeline to test HA scenario
  azure-pipelines-v2-daily.yaml
  azure-pipelines-v2.yaml
  templates/README.MD
  templates/job-template-allReuseCases.yaml
  templates/job-template-per-os-daily.yaml
  templates/job-template-per-os.yaml
  templates/tempGen/tempGen.py
  templates/tempGen/v2-allNew-HA.json
  templates/tempGen/v2-allNew-SN.json
  templates/tempGen/v2-reuseNSG-SN.json
  templates/tempGen/v2-reuseRG-SN.json
  templates/tempGen/v2-reuseVNET-SN.json
  templates/test-case-template-update.yaml
Labels: Test

#372 Staging: Hana System Replication
  deploy/v2/ansible/roles/hana-system-replication/defaults/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/copy_ssfs_keys.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/create_hana_backup.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/main.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/post_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/pre_checks.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/provision_hana_replication.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/set_global_ini_value.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/start_hana.yml
  deploy/v2/ansible/roles/hana-system-replication/tasks/stop_hana.yml
  deploy/v2/ansible/roles/hana-system-replication/vars/main.yml
  deploy/v2/ansible/sap_playbook.yml
Labels: Ansible, enhancement

#374 [HOTFIX] Fix test case name in pipeline cleanup job
  azure-pipelines-v2-daily.yaml
  azure-pipelines-v2.yaml
Labels: HOTFIX, Test, bug

#375 Enable ansible for v2 pipeline
  templates/ansible-deployment-steps.yaml
Labels: Test
