Repository Azure/sap-hana, pull requests merged in 2021-04, with the labels that each got.

#1104 Kimforss disk output
  deploy/configs/app_sizes.json
  deploy/terraform/run/sap_system/module.tf
  deploy/terraform/run/sap_system/output.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/outputs.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/sap-parameters.yml.tmpl
  deploy/terraform/terraform-units/modules/sap_system/output_files/variables_local.tf
Labels: Ansible, enhancement

#1108 Add support for using predefined LUN ranges + ability to add additional data disks
  deploy/configs/anydb_sizes.json
  deploy/configs/hdb_sizes.json
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/variables_local.tf
Labels: enhancement

#1118 Finalise the LVM tasks
  deploy/ansible/roles-os/1.5-disk-setup/tasks/main.yml
Labels: Ansible

#1124 Implement the 1.7-chrony role
  deploy/ansible/playbook_01_os_base_config.yaml
  deploy/ansible/roles-os/1.4-packages/vars/os-packages.yaml
  deploy/ansible/roles-os/1.7-chrony/tasks/main.yml
  deploy/ansible/vars/ansible-input-api.yaml
Labels: Ansible
