Repository Azure/sap-hana, pull requests merged in 2021-09, with the labels that each got.

#1247 Store the SAP Library Storage account details in deployer key vault
  deploy/terraform/run/sap_library/module.tf
  deploy/terraform/terraform-units/modules/sap_library/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_library/providers.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
Labels: enhancement, Ansible

#1251 BOM 750
  deploy/ansible/BOM-catalog/HANA_2_00_055_v0004ms/HANA_2_00_055_v0004ms.yaml
  deploy/ansible/BOM-catalog/HANA_2_00_055_v0004ms/stackfiles/myDownloadBasketFiles.txt
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/NW750SPS20_v0001ms.yaml
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/stackfiles/From_PDF_Selected_Downloads.txt
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/stackfiles/From_PDF_myDownloadBasketFiles.txt
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/stackfiles/MP_Excel_1001194237_20210513_SWC.xls
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/stackfiles/MP_Plan_1001194237_20210513_.pdf
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/stackfiles/MP_Stack_1001194237_20210513_.txt
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/stackfiles/MP_Stack_1001194237_20210513_.xml
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/stackfiles/myDownloadBasketFiles.txt
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/templates/NW750SPS20_v0001ms-dbload-inifile-param.j2
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/templates/NW750SPS20_v0001ms-pas-inifile-param.j2
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/templates/NW750SPS20_v0001ms-scs-inifile-param.j2
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/templates/dbload-inifile-param
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/templates/pas-inifile-param
  deploy/ansible/BOM-catalog/NW750SPS20_v0001ms/templates/scs-inifile-param
  deploy/ansible/BOM-catalog/NW75SPS20_v0002ms/NW75SPS20_v0002ms.yaml
  deploy/ansible/BOM-catalog/NW75SPS20_v0002ms/stackfiles/From_PDF_Selected_Downloads.txt
  deploy/ansible/BOM-catalog/NW75SPS20_v0002ms/stackfiles/From_PDF_myDownloadBasketFiles.txt
  deploy/ansible/BOM-catalog/NW75SPS20_v0002ms/stackfiles/MP_Excel_1001194237_20210513_SWC.xls
  deploy/ansible/BOM-catalog/NW75SPS20_v0002ms/stackfiles/MP_Plan_1001194237_20210513_.pdf
  deploy/ansible/BOM-catalog/NW75SPS20_v0002ms/stackfiles/MP_Stack_1001194237_20210513_.txt
  deploy/ansible/BOM-catalog/NW75SPS20_v0002ms/stackfiles/MP_Stack_1001194237_20210513_.xml
  deploy/ansible/BOM-catalog/NW75SPS20_v0002ms/stackfiles/myDownloadBasketFiles.txt
  deploy/ansible/roles-sap/5.1-dbload/tasks/main.yaml
  deploy/ansible/roles-sap/5.2-pas-install/tasks/main.yaml
  deploy/ansible/roles-sap/5.3-app-install/tasks/main.yaml
Labels: Ansible

#1253 Add support for resource group tags
  deploy/terraform/bootstrap/sap_deployer/tfvar_variables.tf
  deploy/terraform/bootstrap/sap_deployer/transform.tf
  deploy/terraform/bootstrap/sap_library/tfvar_variables.tf
  deploy/terraform/bootstrap/sap_library/transform.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/run/sap_deployer/tfvar_variables.tf
  deploy/terraform/run/sap_deployer/transform.tf
  deploy/terraform/run/sap_landscape/tfvar_variables.tf
  deploy/terraform/run/sap_landscape/transform.tf
  deploy/terraform/run/sap_library/tfvar_variables.tf
  deploy/terraform/run/sap_library/transform.tf
  deploy/terraform/run/sap_system/tfvar_variables.tf
  deploy/terraform/run/sap_system/transform.tf
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_landscape/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_library/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/infrastructure.tf
Labels: enhancement, Terraform

#1254 Add VM Extension deployment
  deploy/ansible/roles-os/1.9-kernelparameters/vars/parameters.yaml
  deploy/scripts/deploy_utils.sh
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-app.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-scs.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/vm-webdisp.tf
  deploy/terraform/terraform-units/modules/sap_system/hdb_node/vm-hdb.tf
Labels: enhancement

#1257 Simplify the mounting logic and other fixes
  deploy/ansible/BOM-catalog/S41909SPS03_v0004ms/templates/S41909SPS03_v0004ms-app-inifile-param.j2
  deploy/ansible/BOM-catalog/S41909SPS03_v0004ms/templates/S41909SPS03_v0004ms-dbload-inifile-param.j2
  deploy/ansible/BOM-catalog/S41909SPS03_v0004ms/templates/S41909SPS03_v0004ms-pas-inifile-param.j2
  deploy/ansible/BOM-catalog/S41909SPS03_v0004ms/templates/S41909SPS03_v0004ms-scs-inifile-param.j2
  deploy/ansible/BOM-catalog/S41909SPS03_v0004ms/templates/S41909SPS03_v0004ms-web-inifile-param.j2
  deploy/ansible/playbook_01_os_base_config.yaml
  deploy/ansible/playbook_02_os_sap_specific_config.yaml
  deploy/ansible/playbook_03_bom_processing.yaml
  deploy/ansible/playbook_04_00_00_hana_db_install.yaml
  deploy/ansible/playbook_04_00_01_hana_hsr.yaml
  deploy/ansible/playbook_05_00_00_sap_scs_install.yaml
  deploy/ansible/playbook_05_01_sap_dbload.yaml
  deploy/ansible/playbook_05_02_sap_pas_install.yaml
  deploy/ansible/playbook_05_03_sap_app_install.yaml
  deploy/ansible/playbook_05_04_sap_web_install.yaml
  deploy/ansible/playbook_06_00_00_pacemaker.yaml
  deploy/ansible/playbook_06_00_03_pacemaker_hana.original.yaml
  deploy/ansible/playbook_06_00_03_pacemaker_hana.yaml
  deploy/ansible/playbook_bom_uploader.yaml
  deploy/ansible/roles-db/4.0.0-hdb-install/tasks/main.yaml
  deploy/ansible/roles-db/4.0.1-hdb-hsr/vars/main.yml
  deploy/ansible/roles-misc/0.1-passwords/tasks/0.1.1-ha_clusterpasswords.yaml
  deploy/ansible/roles-misc/0.1-passwords/tasks/main.yaml
  deploy/ansible/roles-misc/0.3.sap-installation-media-storage-details/tasks/main.yaml
  deploy/ansible/roles-os/1.0-sudoers/tasks/main.yaml
  deploy/ansible/roles-os/1.1-swap/handlers/main.yaml
  deploy/ansible/roles-os/1.1-swap/tasks/main.yaml
  deploy/ansible/roles-os/1.16-services/vars/os-services.yaml
  deploy/ansible/roles-os/1.2-hostname/tasks/main.yml
  deploy/ansible/roles-os/1.3-repository/tasks/main.yml
  deploy/ansible/roles-os/1.4-packages/tasks/main.yaml
  deploy/ansible/roles-os/1.4-packages/vars/os-packages.yaml
  deploy/ansible/roles-os/1.5-disk-setup/tasks/main.yml
  deploy/ansible/roles-os/1.9-kernelparameters/tasks/main.yaml
  deploy/ansible/roles-os/1.9-kernelparameters/vars/parameters.yaml
  deploy/ansible/roles-sap-os/2.10-sap-notes/tasks/2.10.0.yaml
  deploy/ansible/roles-sap-os/2.10-sap-notes/tasks/main.yaml
  deploy/ansible/roles-sap-os/2.2-sapPermissions/tasks/main.yaml
  deploy/ansible/roles-sap-os/2.3-sap-exports/tasks/main.yaml
  deploy/ansible/roles-sap-os/2.4-hosts-file/tasks/main.yaml
  deploy/ansible/roles-sap-os/2.4-hosts-file/tasks/pre_checks.yaml
  deploy/ansible/roles-sap-os/2.5-sap-users/tasks/main.yaml
  deploy/ansible/roles-sap-os/2.6-sap-mounts/tasks/2.6.1-anf-mounts.yaml
  deploy/ansible/roles-sap-os/2.6-sap-mounts/tasks/main.yaml
  deploy/ansible/roles-sap/0.1-bom-validator/tasks/pre_checks.yaml
  deploy/ansible/roles-sap/3.3-bom-processing/tasks/bom_processor.yaml
  deploy/ansible/roles-sap/3.3-bom-processing/tasks/main.yaml
  deploy/ansible/roles-sap/3.3-bom-processing/tasks/pre_checks.yaml
  deploy/ansible/roles-sap/3.3.1-bom-utility/tasks/bom-template.yaml
  deploy/ansible/roles-sap/5.0.0-scs-install/tasks/main.yaml
  deploy/ansible/roles-sap/5.1-dbload/tasks/main.yaml
  deploy/ansible/vars/ansible-input-api.yaml
  deploy/ansible/vars/disks_config.yml
  deploy/terraform/run/sap_system/transform.tf
  deploy/terraform/terraform-units/modules/sap_system/anydb_node/vm-anydb.tf
  deploy/terraform/terraform-units/modules/sap_system/app_tier/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/inventory.tf
  deploy/terraform/terraform-units/modules/sap_system/output_files/sap-parameters.yml.tmpl
Labels: enhancement, Ansible

#1262 Disk changes, logical volumes will be conditionally created based on …
  deploy/ansible/roles-os/1.5-disk-setup/tasks/main.yml
Labels: Ansible

#1259 Add more intelligence to installer
  deploy/scripts/installer.sh
Labels: enhancement

#1270 Kimforss private endpoint control plane
  deploy/samples/WORKSPACES/DEPLOYER/MGMT-WEEU-DEP00-INFRASTRUCTURE/MGMT-WEEU-DEP00-INFRASTRUCTURE.tfvars
  deploy/terraform/bootstrap/sap_deployer/module.tf
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/bootstrap/sap_deployer/tfvar_variables.tf
  deploy/terraform/bootstrap/sap_library/module.tf
  deploy/terraform/bootstrap/sap_library/tfvar_variables.tf
  deploy/terraform/run/sap_deployer/module.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/run/sap_deployer/tfvar_variables.tf
  deploy/terraform/run/sap_library/module.tf
  deploy/terraform/run/sap_library/tfvar_variables.tf
  deploy/terraform/terraform-units/modules/sap_deployer/infrastructure.tf
  deploy/terraform/terraform-units/modules/sap_deployer/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_deployer/output.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_library/storage_accounts.tf
  deploy/terraform/terraform-units/modules/sap_library/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_namegenerator/variables_local.tf
Labels: enhancement
