Repository Azure/sap-hana, pull requests merged in 2021-06, with the labels that each got.

#1157 TFVars support for deployer
  deploy/scripts/install_deployer.sh
  deploy/scripts/installer.sh
  deploy/scripts/prepare_region.sh
  deploy/scripts/remove_region.sh
  deploy/terraform/bootstrap/sap_deployer/deployer_full.json
  deploy/terraform/bootstrap/sap_deployer/module.tf
  deploy/terraform/bootstrap/sap_deployer/output.tf
  deploy/terraform/bootstrap/sap_deployer/providers.tf
  deploy/terraform/bootstrap/sap_deployer/scripts.tf
  deploy/terraform/bootstrap/sap_deployer/tfvar_variables.tf
  deploy/terraform/bootstrap/sap_deployer/transform.tf
  deploy/terraform/bootstrap/sap_deployer/variables_global.tf
  deploy/terraform/bootstrap/sap_deployer/variables_local.tf
  deploy/terraform/run/sap_deployer/module.tf
  deploy/terraform/run/sap_deployer/output.tf
  deploy/terraform/run/sap_deployer/providers.tf
  deploy/terraform/run/sap_deployer/tfvar_variables.tf
  deploy/terraform/run/sap_deployer/transform.tf
  deploy/terraform/run/sap_deployer/variables_global.tf
  deploy/terraform/run/sap_deployer/variables_local.tf
  deploy/terraform/terraform-units/modules/sap_deployer/key_vault.tf
  deploy/terraform/terraform-units/modules/sap_deployer/variables_local.tf
Labels: enhancement

#1151 Alfa
  deploy/ansible/playbook_01_os_base_config.yaml
  deploy/ansible/roles-os/1.16-services/defaults/main.yaml
  deploy/ansible/roles-os/1.16-services/tasks/main.yaml
  deploy/ansible/roles-os/1.16-services/vars/os-services.yaml
Labels: Ansible

#1162 try SDU subnets and nsgs first
  deploy/terraform/terraform-units/modules/sap_system/common_infrastructure/variables_local.tf
Labels: bug

#1168 BoM Validation and downloader
  deploy/ansible/playbook_bom_downloader.yaml
  deploy/ansible/playbook_bom_validator.yaml
  deploy/ansible/roles-sap/0.1-bom-validator/tasks/bom_validator.yaml
  deploy/ansible/roles-sap/0.1-bom-validator/tasks/main.yaml
  deploy/ansible/roles-sap/0.1-bom-validator/tasks/pre_checks.yaml
  deploy/ansible/test_menu.sh
  deploy/ansible/vars/ansible-input-api.yaml
Labels: Ansible

#1186 BOM validator and downloader
  deploy/ansible/BOM-catalog/HANA_2_00_055_v0002ms/HANA_2_00_055_v0002ms.yaml
  deploy/ansible/BOM-catalog/HANA_2_00_055_v0002ms/stackfiles/myDownloadBasketFiles.txt
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/S41909SPS03_v0003ms.yaml
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/stackfiles/MP_Excel_2001100478_20210324_SWC.xls
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/stackfiles/MP_Plan_2001100478_20210324_.pdf
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/stackfiles/MP_Stack_2001100478_20210324_.txt
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/stackfiles/MP_Stack_2001100478_20210324_.xml
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/stackfiles/myDownloadBasketFiles.txt
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/templates/S41909SPS03_v0003ms-app-inifile-param.j2
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/templates/S41909SPS03_v0003ms-dbload-inifile-param.j2
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/templates/S41909SPS03_v0003ms-pas-inifile-param.j2
  deploy/ansible/BOM-catalog/S41909SPS03_v0003ms/templates/S41909SPS03_v0003ms-scs-inifile-param.j2
  deploy/ansible/pb_get-keyvault-secret.yaml
  deploy/ansible/playbook_bom_downloader.yaml
  deploy/ansible/roles-sap/0.1-bom-validator/tasks/bom_validator.yaml
  deploy/ansible/roles-sap/0.1-bom-validator/tasks/main.yaml
  deploy/ansible/roles-sap/0.1-bom-validator/tasks/pre_checks.yaml
  deploy/ansible/validator_test_menu.sh
Labels: Ansible
